### Imports

In [1]:
#Spark Imports
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql import types as T

#Python Standard Libs Imports
import json
import urllib2
import sys
from datetime import datetime
from os.path import isfile, join, splitext
from glob import glob

#Imports to enable visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Functions

#### Basic Functions

In [2]:
def rename_columns(df, list_of_tuples):
    for (old_col, new_col) in list_of_tuples:
        df = df.withColumnRenamed(old_col, new_col)
    return df

def read_folders(path, sqlContext, sc, initial_date, final_date, folder_suffix):
    extension = splitext(path)[1]

    if extension == "":
        path_pattern = path + "/*/part-*"
        if "hdfs" in path:
            URI = sc._gateway.jvm.java.net.URI
            Path = sc._gateway.jvm.org.apache.hadoop.fs.Path
            FileSystem = sc._gateway.jvm.org.apache.hadoop.fs.FileSystem
            Configuration = sc._gateway.jvm.org.apache.hadoop.conf.Configuration

            hdfs = "/".join(path_pattern.split("/")[:3])
            dir = "/" + "/".join(path_pattern.split("/")[3:])

            fs = FileSystem.get(URI(hdfs), Configuration())

            status = fs.globStatus(Path(dir))

            files = map(lambda file_status: str(file_status.getPath()), status)

        else:
            files = glob(path_pattern)

        #print initial_date, final_date
        #print datetime.strptime(files[0].split('/')[-2],('%Y_%m_%d' + folder_suffix))

        files = filter(lambda f: initial_date <= datetime.strptime(f.split("/")[-2], ('%Y_%m_%d' + folder_suffix)) <=
                                 final_date, files)
        
        #print len(files)
        #print files
        if folder_suffix == '_od':
            return reduce(lambda df1, df2: df1.unionAll(df2),
                      map(lambda f: read_hdfs_folder(sqlContext,f), files))
        else:
            return reduce(lambda df1, df2: df1.unionAll(df2),
                      map(lambda f: read_buste_data_v3(sqlContext,f), files))
    else:
        return read_file(path, sqlContext)

def read_hdfs_folder(sqlContext, folderpath):
    data_frame = sqlContext.read.csv(folderpath, header=True,
                                     inferSchema=True,nullValue="-")
    return data_frame

def read_buste_data_v3(sqlContext, folderpath):
    data_frame = read_hdfs_folder(sqlContext,folderpath)
    data_frame = data_frame.withColumn("date", F.unix_timestamp(F.col("date"),'yyyy_MM_dd'))
    
    return data_frame

def printdf(df,l=10):
    return df.limit(l).toPandas()

def get_timestamp_in_tz(unixtime_timestamp,ts_format,tz):
    return F.from_utc_timestamp(F.from_unixtime(unixtime_timestamp, ts_format),tz)

#### OTP Functions

In [3]:
def get_router_id(query_date):
    INTERMEDIATE_OTP_DATE = datetime.strptime("2017-06-30", "%Y-%m-%d")
    
    router_id = ''
    date_timestamp = datetime.strptime(query_date, "%Y-%m-%d")   
    
    if (date_timestamp <= INTERMEDIATE_OTP_DATE):
        return 'ctba-2017-1'
    else:
        return 'ctba-2017-2'

def get_otp_itineraries(otp_url,o_lat,o_lon,d_lat,d_lon,date,time,verbose=False):
    otp_http_request = 'routers/{}/plan?fromPlace={},{}&toPlace={},{}&mode=TRANSIT,WALK&date={}&time={}'
	
    router_id = get_router_id(date)
    otp_request_url = otp_url + otp_http_request.format(router_id,o_lat,o_lon,d_lat,d_lon,date,time)
    if verbose:
        print otp_request_url
    return json.loads(urllib2.urlopen(otp_request_url).read())

def get_executed_trip_schedule(otp_url,o_lat,o_lon,d_lat,d_lon,date,time,route,start_stop_id,verbose=False):
    DEF_AGENCY_NAME = 'URBS'
    DEF_AGENCY_ID = 1
    otp_http_request = 'routers/{}/plan?fromPlace={},{}&toPlace={},{}&mode=TRANSIT,WALK&date={}&time={}&numItineraries=1&preferredRoutes={}_{}&startTransitStopId={}_{}&maxWalkingDistance=150&maxTransfers=0'
    
    router_id = get_router_id(date)
    otp_request_url = otp_url + otp_http_request.format(router_id,o_lat,o_lon,d_lat,d_lon,date,time,DEF_AGENCY_NAME,route,DEF_AGENCY_ID,start_stop_id)
    if verbose:
        print otp_request_url
    return json.loads(urllib2.urlopen(otp_request_url).read())

def get_otp_suggested_trips(od_matrix,otp_url):
    trips_otp_response = {}
    counter = 0
    for row in od_matrix.collect():
        id=long(row['user_trip_id'])
        start_time = row['o_base_datetime'].split(' ')[1]
        trip_plan = get_otp_itineraries(otp_url,row['o_shape_lat'], row['o_shape_lon'], row['shapeLat'], row['shapeLon'],row['date'],start_time)
        trips_otp_response[id] = trip_plan
        counter+=1

    return trips_otp_response

def get_otp_scheduled_trips(od_matrix,otp_url):
    trips_otp_response = {}
    counter = 0
    for row in od_matrix.collect():
        id=long(row['user_trip_id'])
        start_time = row['o_base_datetime'].split(' ')[1]
        trip_plan = get_executed_trip_schedule(otp_url,row['o_shape_lat'], row['o_shape_lon'], row['shapeLat'], row['shapeLon'],
                                               row['date'],start_time,row['route'],row['o_stop_id'])
        trips_otp_response[id] = trip_plan
        counter+=1

    return trips_otp_response

def extract_otp_trips_legs(otp_trips):
    trips_legs = []

    for trip in otp_trips.keys():
        if 'plan' in otp_trips[trip]:
            itinerary_id = 1
            for itinerary in otp_trips[trip]['plan']['itineraries']:
                date = otp_trips[trip]['plan']['date']/1000
                leg_id = 1
                for leg in itinerary['legs']:
                    route = leg['route'] if leg['route'] != '' else None
                    fromStopId = leg['from']['stopId'].split(':')[1] if leg['mode'] == 'BUS' else None
                    toStopId = leg['to']['stopId'].split(':')[1] if leg['mode'] == 'BUS' else None
                    start_time = long(leg['startTime'])/1000
                    end_time = long(leg['endTime'])/1000
                    duration = (end_time - start_time)/60
                    trips_legs.append((date,trip,itinerary_id,leg_id,start_time,end_time,leg['mode'],route,fromStopId,toStopId, duration))
                    leg_id += 1
                itinerary_id += 1
    return trips_legs

def prepare_otp_legs_df(otp_legs_list):
    labels=['date','user_trip_id','itinerary_id','leg_id','otp_start_time','otp_end_time','mode','route','from_stop_id','to_stop_id','otp_duration_mins']
    otp_legs_df = sqlContext.createDataFrame(otp_legs_list, labels) \
                        .withColumn('date',F.from_unixtime(F.col('date'),'yyyy-MM-dd')) \
                        .withColumn('otp_duration_mins',((F.col('otp_end_time') - F.col('otp_start_time'))/60)) \
                        .withColumn('otp_start_time',F.from_unixtime(F.col('otp_start_time'),'yyyy-MM-dd HH:mm:ss').astype('timestamp')) \
                        .withColumn('otp_end_time',F.from_unixtime(F.col('otp_end_time'),'yyyy-MM-dd HH:mm:ss').astype('timestamp')) \
                        .withColumn('route', F.col('route').astype('integer')) \
                        .withColumn('from_stop_id', F.col('from_stop_id').astype('integer')) \
                        .withColumn('to_stop_id', F.col('to_stop_id').astype('integer')) \
                        .orderBy(['date','user_trip_id','itinerary_id','otp_start_time'])

    return otp_legs_df

#### Analysis Functions

In [4]:
def advance_od_matrix_start_time(od_matrix,extra_seconds):
    return od_matrix.withColumn('o_datetime', F.concat(F.col('date'), F.lit(' '), F.col('o_timestamp'))) \
                    .withColumn('d_datetime', F.concat(F.col('date'), F.lit(' '), F.col('timestamp'))) \
                    .withColumn('executed_duration', (F.unix_timestamp('d_datetime') - F.unix_timestamp('o_datetime'))/60) \
                    .withColumn('o_base_datetime', F.from_unixtime(F.unix_timestamp(F.col('o_datetime'),'yyyy-MM-dd HH:mm:ss') - extra_seconds, 'yyyy-MM-dd HH:mm:ss')) \

def get_df_stats(df,filtered_df,df_label,filtered_df_label):
    df_size = df.count()
    filtered_df_size = filtered_df.count()
    print "Total", df_label,":", df_size
    print "Total", filtered_df_label, ":", filtered_df_size, "(", 100*(filtered_df_size/float(df_size)), "%)"

def get_filtered_df_stats(filtered_df,full_df_size,filtered_df_label,full_df_label):
    filtered_df_size = filtered_df.count()
    print filtered_df_label, "in Total", full_df_label, ":", filtered_df_size, "(", 100*(filtered_df_size/float(full_df_size)), "%)"

def clean_buste_data(buste_data):
    return buste_data.select(["date","route","busCode","tripNum","stopPointId","timestamp"]) \
        .na.drop(subset=["date","route","busCode","tripNum","stopPointId","timestamp"]) \
        .dropDuplicates(['date','route','busCode','tripNum','stopPointId']) \
        .withColumn('route',F.col('route').astype('float')) \
        .withColumn('date',F.from_unixtime(F.col('date'),'yyyy-MM-dd')) \
        .withColumn('timestamp',F.from_unixtime(F.unix_timestamp(F.concat(F.col('date'),F.lit(' '),F.col('timestamp')), 'yyyy-MM-dd HH:mm:ss')))

def find_otp_bus_legs_actual_start_time(otp_legs_df,clean_bus_trips_df):
    w = Window.partitionBy(['date','user_trip_id','itinerary_id','route','from_stop_id']).orderBy(['timediff'])
    return otp_legs_df \
        .withColumn('stopPointId', F.col('from_stop_id')) \
        .join(clean_bus_trips_df, ['date','route','stopPointId'], how='inner') \
        .na.drop(subset=['timestamp']) \
        .withColumn('timediff',F.abs(F.unix_timestamp(F.col('timestamp')) - F.unix_timestamp(F.col('otp_start_time')))) \
        .drop('otp_duration') \
        .withColumn('rn', F.row_number().over(w)) \
        .where(F.col('rn') == 1) \
        .select(['date','user_trip_id','itinerary_id','leg_id','route','busCode','tripNum','from_stop_id','otp_start_time','timestamp','to_stop_id','otp_end_time']) \
        .withColumnRenamed('timestamp','from_timestamp')

def find_otp_bus_legs_actual_end_time(otp_legs_st,clean_bus_trips):
    return otp_legs_st \
                .withColumnRenamed('to_stop_id','stopPointId') \
                .join(clean_bus_trips, ['date','route','busCode','tripNum','stopPointId'], how='inner') \
                .na.drop(subset=['timestamp']) \
                .withColumn('timediff',F.abs(F.unix_timestamp(F.col('timestamp')) - F.unix_timestamp(F.col('otp_end_time')))) \
                .withColumnRenamed('timestamp', 'to_timestamp') \
                .withColumnRenamed('stopPointId','to_stop_id') \
                .orderBy(['date','route','stopPointId','timediff'])

def clean_otp_legs_actual_time_df(otp_legs_st_end_df):
    return otp_legs_start_end \
                .select(['date','user_trip_id','itinerary_id','leg_id','route','busCode','tripNum','from_stop_id','from_timestamp','to_stop_id','to_timestamp']) \
                .withColumn('actual_duration_mins', (F.unix_timestamp(F.col('to_timestamp')) - F.unix_timestamp(F.col('from_timestamp')))/60) \
                .orderBy(['date','user_trip_id','itinerary_id','leg_id']) \
                .filter('actual_duration_mins > 0')

def combine_otp_suggestions_with_bus_legs_actual_time(otp_suggestions,bus_legs_actual_time):
    return otp_legs_df \
                .join(clean_otp_legs_actual_time, on=['date','user_trip_id','itinerary_id','leg_id', 'route', 'from_stop_id','to_stop_id'], how='left') \
                .withColumn('considered_duration_mins', F.when(F.col('mode') == F.lit('BUS'), F.col('actual_duration_mins')).otherwise(F.col('otp_duration_mins'))) \
                .withColumn('considered_start_time', F.when(F.col('mode') == F.lit('BUS'), F.col('from_timestamp')).otherwise(F.col('otp_start_time')))

def select_itineraries_fully_identified(otp_itineraries_legs):
    itineraries_not_fully_identified = otp_itineraries_legs \
                                        .filter((otp_itineraries_legs.mode == 'BUS') & (otp_itineraries_legs.busCode.isNull())) \
                                        .select(['date','user_trip_id','itinerary_id']).distinct()
    itineraries_fully_identified = otp_itineraries_legs.select(['date','user_trip_id','itinerary_id']).subtract(itineraries_not_fully_identified)
    return otp_itineraries_legs.join(itineraries_fully_identified, on=['date','user_trip_id','itinerary_id'], how='inner')

def filter_itineraries_without_bus_legs(otp_itineraries_legs):
    itineraries_with_bus_legs = otp_itineraries_legs \
                                    .filter((otp_itineraries_legs.mode == 'BUS')) \
                                    .select(['date','user_trip_id','itinerary_id']).distinct()
    return otp_itineraries_legs.join(itineraries_with_bus_legs, on=['date','user_trip_id','itinerary_id'], how='inner')

### Main Code

#### Reading Input Variables

In [5]:
initial_date = datetime.strptime('2017-07-01', '%Y-%m-%d')
final_date = datetime.strptime('2017-07-01', '%Y-%m-%d')
od_matrix_folderpath = '/local/tarciso/masters/data/bus_trips/test/single-day-test/2017_07_01/od/trips_od/'
buste_data_folderpath = '/local/tarciso/masters/data/bus_trips/test/single-day-test/2017_07_01/buste/'
otp_server_url = 'http://150.165.85.4:10402/otp/'
results_folderpath = '/local/tarciso/masters/data/bus_trips/test/single-day-test/2017_07_01'

#### Settting Up Environment

In [6]:
#Get Spark Session
spark  = SparkSession.builder.getOrCreate()
spark.conf.set('spark.sql.crossJoin.enabled', 'true')

sc = spark.sparkContext
sc.setLogLevel("ERROR")
sqlContext = pyspark.SQLContext(sc)

In [7]:
sc._conf.getAll()

[(u'spark.driver.port', u'50146'),
 (u'hive.metastore.warehouse.dir',
  u'file:/local/tarciso/workspace/trips-optimality-exp/spark-warehouse/'),
 (u'spark.driver.host', u'10.30.0.113'),
 (u'spark.driver.memory', u'4g'),
 (u'spark.rdd.compress', u'True'),
 (u'spark.serializer.objectStreamReset', u'100'),
 (u'spark.master', u'local[*]'),
 (u'spark.executor.id', u'driver'),
 (u'spark.submit.deployMode', u'client'),
 (u'spark.app.id', u'local-1522184092296'),
 (u'spark.app.name', u'PySparkShell')]

#### Reading OD Matrix

In [8]:
print "Got Spark Context"

print "Reading OD-Matrix Data..."
od_matrix_day_folderpath = od_matrix_folderpath + '/' + initial_date.strftime('%Y_%m_%d') + '_od'
od_matrix = read_hdfs_folder(sqlContext, od_matrix_day_folderpath)

print "Fixing OD Matrix dates due to bug on date saving on cluster..."
SECONDS_OFFSET = 10800
od_matrix = od_matrix \
                .withColumn('date',F.col('date') + SECONDS_OFFSET) \
                .withColumn('o_date',F.col('o_date') + SECONDS_OFFSET) \
                .withColumn('next_o_date',F.col('next_o_date') + SECONDS_OFFSET) \
                .withColumn('date', F.from_unixtime(F.col('date'), 'yyyy-MM-dd')) \
                .withColumnRenamed('o_boarding_id','user_trip_id')
        
print "Preprocessing Data..."
od_matrix = advance_od_matrix_start_time(od_matrix,120)

Got Spark Context
Reading OD-Matrix Data...
Fixing OD Matrix dates due to bug on date saving on cluster...
Preprocessing Data...

In [9]:
od_matrix.printSchema()

root
 |-- route: integer (nullable = true)
 |-- tripNum: integer (nullable = true)
 |-- shapeId: integer (nullable = true)
 |-- shapeSequence: integer (nullable = true)
 |-- shapeLat: double (nullable = true)
 |-- shapeLon: double (nullable = true)
 |-- distanceTraveledShape: double (nullable = true)
 |-- busCode: string (nullable = true)
 |-- gpsPointId: string (nullable = true)
 |-- gpsLat: double (nullable = true)
 |-- gpsLon: double (nullable = true)
 |-- distanceToShapePoint: double (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- stopPointId: integer (nullable = true)
 |-- problem: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- cardTimestamp: string (nullable = true)
 |-- lineName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- date: string (nullable = true)
 |-- id: long (nullable = true)
 |-- o_route: integer (nullable = true)
 |-- o_bus_code: string (nullable = true)
 |-- o_date: integer (nullable = true)
 |-- o_tripNum: integer (nullable = true)
 |-- o_timestamp: string (nullable = true)
 |-- o_shape_id: integer (nullable = true)
 |-- o_shape_seq: integer (nullable = true)
 |-- o_shape_lat: double (nullable = true)
 |-- o_shape_lon: double (nullable = true)
 |-- o_stop_id: integer (nullable = true)
 |-- user_trip_id: long (nullable = true)
 |-- cardNum: integer (nullable = true)
 |-- next_o_route: integer (nullable = true)
 |-- next_o_bus_code: string (nullable = true)
 |-- next_o_date: integer (nullable = true)
 |-- next_o_tripNum: integer (nullable = true)
 |-- next_o_timestamp: string (nullable = true)
 |-- next_o_shape_id: integer (nullable = true)
 |-- next_o_shape_seq: integer (nullable = true)
 |-- next_o_shape_lat: double (nullable = true)
 |-- next_o_shape_lon: double (nullable = true)
 |-- next_o_stop_id: integer (nullable = true)
 |-- next_o_boarding_id: long (nullable = true)
 |-- o_unixtimestamp: integer (nullable = true)
 |-- next_o_unixtimestamp: integer (nullable = true)
 |-- leg_duration: double (nullable = true)
 |-- dist: double (nullable = true)
 |-- rn: integer (nullable = true)
 |-- o_datetime: string (nullable = true)
 |-- d_datetime: string (nullable = true)
 |-- executed_duration: double (nullable = true)
 |-- o_base_datetime: string (nullable = true)

In [10]:
printdf(od_matrix.select(['timestamp','birthdate','cardTimestamp','date','o_date','o_timestamp','next_o_date','next_o_timestamp','o_unixtimestamp','next_o_unixtimestamp','o_base_datetime']))

,timestamp,birthdate,cardTimestamp,date,o_date,o_timestamp,next_o_date,next_o_timestamp,o_unixtimestamp,next_o_unixtimestamp,o_base_datetime
0,21:47:02,31/07/77,21:50:20,2017-07-01,1498878000,21:42:00,1498878000,12:36:07,78120,45367,2017-07-01 21:40:00
1,13:12:13,None,None,2017-07-01,1498878000,05:41:47,1498878000,15:13:38,20507,54818,2017-07-01 05:39:47
2,15:20:19,None,None,2017-07-01,1498878000,14:52:03,1498878000,07:24:50,53523,26690,2017-07-01 14:50:03
3,13:58:28,02/07/90,13:59:08,2017-07-01,1498878000,13:46:52,1498878000,12:59:09,49612,46749,2017-07-01 13:44:52
4,20:08:25,None,None,2017-07-01,1498878000,19:03:53,1498878000,18:21:32,68633,66092,2017-07-01 19:01:53
5,06:36:28,None,None,2017-07-01,1498878000,05:38:22,1498878000,12:59:23,20302,46763,2017-07-01 05:36:22
6,06:11:39,None,None,2017-07-01,1498878000,05:51:53,1498878000,11:48:49,21113,42529,2017-07-01 05:49:53
7,19:25:51,None,None,2017-07-01,1498878000,19:03:41,1498878000,12:46:39,68621,45999,2017-07-01 19:01:41
8,20:11:47,13/11/61,20:12:31,2017-07-01,1498878000,19:47:50,1498878000,13:26:32,71270,48392,2017-07-01 19:45:50
9,09:40:32,None,None,2017-07-01,1498878000,09:32:49,1498878000,06:01:21,34369,21681,2017-07-01 09:30:49

In [11]:
raw_od_matrix = od_matrix

In [12]:
od_matrix = raw_od_matrix.limit(50)

In [13]:
od_matrix.count()

50

#### Getting OTP suggested itineraries

In [14]:
print "Getting OTP suggested itineraries..."
otp_suggestions = get_otp_suggested_trips(od_matrix,otp_server_url)

print "Extracting OTP Legs info..."
otp_legs_df = prepare_otp_legs_df(extract_otp_trips_legs(otp_suggestions))
#otp_legs_df.write.csv(path=results_folderpath+'/trip_plans',header=True, mode='append')

otp_suggestions = None

Getting OTP suggested itineraries...
Extracting OTP Legs info...

In [15]:
printdf(otp_legs_df)

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins
0,2017-07-01,34359738511,1,1,2017-07-01 05:46:59,2017-07-01 06:07:22,WALK,NaN,NaN,NaN,20.383333
1,2017-07-01,34359738511,1,2,2017-07-01 06:07:23,2017-07-01 06:15:00,BUS,500.0,25471.0,27560.0,7.616667
2,2017-07-01,34359738511,1,3,2017-07-01 06:15:01,2017-07-01 06:18:39,WALK,NaN,NaN,NaN,3.633333
3,2017-07-01,34359738511,2,1,2017-07-01 06:06:59,2017-07-01 06:27:22,WALK,NaN,NaN,NaN,20.383333
4,2017-07-01,34359738511,2,2,2017-07-01 06:27:23,2017-07-01 06:35:00,BUS,500.0,25471.0,27560.0,7.616667
5,2017-07-01,34359738511,2,3,2017-07-01 06:35:01,2017-07-01 06:38:39,WALK,NaN,NaN,NaN,3.633333
6,2017-07-01,34359738511,3,1,2017-07-01 06:16:59,2017-07-01 06:37:22,WALK,NaN,NaN,NaN,20.383333
7,2017-07-01,34359738511,3,2,2017-07-01 06:37:23,2017-07-01 06:45:00,BUS,500.0,25471.0,27560.0,7.616667
8,2017-07-01,34359738511,3,3,2017-07-01 06:45:01,2017-07-01 06:48:39,WALK,NaN,NaN,NaN,3.633333
9,2017-07-01,68719476815,1,1,2017-07-01 06:58:58,2017-07-01 07:21:41,WALK,NaN,NaN,NaN,22.716667

#### Gathering schedule info for executed trips

In [16]:
print "Getting OTP schedule info for executed trips..."
executed_trips_schedule = get_otp_scheduled_trips(od_matrix,otp_server_url)

Getting OTP schedule info for executed trips...

In [17]:
executed_trips_schedule

{17179869310L: {u'debugOutput': {u'pathCalculationTime': 25,
   u'pathTimes': [],
   u'precalculationTime': 13,
   u'renderingTime': 0,
   u'timedOut': False,
   u'totalTime': 38},
  u'elevationMetadata': {u'ellipsoidToGeoidDifference': 3.6861111059479486,
   u'geoidElevation': False},
  u'error': {u'id': 404,
   u'message': u'PATH_NOT_FOUND',
   u'msg': u'No trip found. There may be no transit service within the maximum specified distance or at the specified time, or your start or end point might not be safely accessible.',
   u'noPath': True},
  u'requestParameters': {u'date': u'2017-07-01',
   u'fromPlace': u'-25.4230038133,-49.2413612816',
   u'maxTransfers': u'0',
   u'maxWalkingDistance': u'150',
   u'mode': u'TRANSIT,WALK',
   u'numItineraries': u'1',
   u'preferredRoutes': u'URBS_21',
   u'startTransitStopId': u'1_29097',
   u'time': u'12:59:31',
   u'toPlace': u'-25.3975151075,-49.250717905'}},
 17179869337L: {u'debugOutput': {u'pathCalculationTime': 73,
   u'pathTimes': [],
   u'precalculationTime': 27,
   u'renderingTime': 0,
   u'timedOut': False,
   u'totalTime': 100},
  u'elevationMetadata': {u'ellipsoidToGeoidDifference': 3.6861111059479486,
   u'geoidElevation': False},
  u'error': {u'id': 404,
   u'message': u'PATH_NOT_FOUND',
   u'msg': u'No trip found. There may be no transit service within the maximum specified distance or at the specified time, or your start or end point might not be safely accessible.',
   u'noPath': True},
  u'requestParameters': {u'date': u'2017-07-01',
   u'fromPlace': u'-25.4281230769,-49.2718964723',
   u'maxTransfers': u'0',
   u'maxWalkingDistance': u'150',
   u'mode': u'TRANSIT,WALK',
   u'numItineraries': u'1',
   u'preferredRoutes': u'URBS_176',
   u'startTransitStopId': u'1_28556',
   u'time': u'15:52:39',
   u'toPlace': u'-25.3986748562,-49.2736309239'}},
 34359738511L: {u'debugOutput': {u'pathCalculationTime': 24,
   u'pathTimes': [24],
   u'precalculationTime': 44,
   u'renderingTime': 1,
   u'timedOut': False,
   u'totalTime': 69},
  u'elevationMetadata': {u'ellipsoidToGeoidDifference': 3.6861111059479486,
   u'geoidElevation': False},
  u'plan': {u'date': 1498898387000,
   u'from': {u'lat': -25.4604272304,
    u'lon': -49.2495334715,
    u'name': u'Origin',
    u'orig': u'',
    u'vertexType': u'NORMAL'},
   u'itineraries': [{u'duration': 1900,
     u'elevationGained': 0.0,
     u'elevationLost': 0.0,
     u'endTime': 1498900719000,
     u'legs': [{u'agencyTimeZoneOffset': -10800000,
       u'arrivalDelay': 0,
       u'departureDelay': 0,
       u'distance': 1550.7310000000004,
       u'duration': 1223.0,
       u'endTime': 1498900042000,
       u'from': {u'departure': 1498898819000,
        u'lat': -25.4604272304,
        u'lon': -49.2495334715,
        u'name': u'Origin',
        u'orig': u'',
        u'vertexType': u'NORMAL'},
       u'interlineWithPreviousLeg': False,
       u'legGeometry': {u'length': 46,
        u'points': u'zvkzCd`rkHSI_@Ma@WY_@OKKBYXCNSdAG\\Ov@Ov@Kb@M`@MPmDtA}@^f@lBa@RmBnCSJJXqA`Bq@`AEFwBzCI`@ERER@H?JAJEFAD?TFVL\\vGfTnAe@t@YxAk@|Am@@NLTJE'},
       u'mode': u'WALK',
       u'pathway': False,
       u'realTime': False,
       u'rentedBike': False,
       u'route': u'',
       u'startTime': 1498898819000,
       u'steps': [{u'absoluteDirection': u'NORTH',
         u'area': False,
         u'bogusName': False,
         u'distance': 31.445999999999998,
         u'elevation': [],
         u'lat': -25.460452820723848,
         u'lon': -49.24946110273864,
         u'relativeDirection': u'DEPART',
         u'stayOn': False,
         u'streetName': u'Rua Canal Bel\xe9m'},
        {u'absoluteDirection': u'NORTHEAST',
         u'area': False,
         u'bogusName': False,
         u'distance': 54.566,
         u'elevation': [],
         u'lat': -25.460190500000003,
         u'lon': -49.2493441,
         u'relativeDirection': u'CONTINUE',
         u'stayOn': False,
         u'streetName': u'Rua Canal Bel\xe9m'},
        {u'absoluteDirection': u'NORTHWEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 71.604,
         u'elevation': [],
         u'lat': -25.4598149,
         u'lon': -49.2490025,
         u'relativeDirection': u'LEFT',
         u'stayOn': False,
         u'streetName': u'Avenida Senador Salgado Filho'},
        {u'absoluteDirection': u'WEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 74.649,
         u'elevation': [],
         u'lat': -25.4595069,
         u'lon': -49.249586,
         u'relativeDirection': u'CONTINUE',
         u'stayOn': False,
         u'streetName': u'Rua Imaculada Conceicao'},
        {u'absoluteDirection': u'WEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 194.04000000000002,
         u'elevation': [],
         u'lat': -25.459300300000002,
         u'lon': -49.250293400000004,
         u'relativeDirection': u'CONTINUE',
         u'stayOn': False,
         u'streetName': u'Rua Imaculada Concei\xe7\xe3o'},
        {u'absoluteDirection': u'WEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 59.27,
         u'elevation': [],
         u'lat': -25.457924000000002,
         u'lon': -49.2513291,
         u'relativeDirection': u'LEFT',
         u'stayOn': False,
         u'streetName': u'Rua Pedro de Toledo'},
        {u'absoluteDirection': u'NORTHWEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 128.938,
         u'elevation': [],
         u'lat': -25.458127800000003,
         u'lon': -49.2518746,
         u'relativeDirection': u'RIGHT',
         u'stayOn': False,
         u'streetName': u'Rua Professora Regina Celia Marinoni'},
        {u'absoluteDirection': u'SOUTHWEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 14.394,
         u'elevation': [],
         u'lat': -25.4573065,
         u'lon': -49.252755500000006,
         u'relativeDirection': u'LEFT',
         u'stayOn': False,
         u'streetName': u'Rua Thomas Edison'},
        {u'absoluteDirection': u'NORTHWEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 257.177,
         u'elevation': [],
         u'lat': -25.4573605,
         u'lon': -49.2528858,
         u'relativeDirection': u'RIGHT',
         u'stayOn': False,
         u'streetName': u'Rua Professora Regina Casagrande Marinoni'},
        {u'absoluteDirection': u'WEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 23.0,
         u'elevation': [],
         u'exit': u'1',
         u'lat': -25.455961400000003,
         u'lon': -49.2548952,
         u'relativeDirection': u'CIRCLE_CLOCKWISE',
         u'stayOn': False,
         u'streetName': u'Rua Professora Regina Casagrande Marinoni'},
        {u'absoluteDirection': u'WEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 419.24,
         u'elevation': [],
         u'lat': -25.455931300000003,
         u'lon': -49.2551063,
         u'relativeDirection': u'SLIGHTLY_LEFT',
         u'stayOn': False,
         u'streetName': u'Rua Jo\xe3o Parolin'},
        {u'absoluteDirection': u'SOUTHEAST',
         u'area': False,
         u'bogusName': False,
         u'distance': 222.407,
         u'elevation': [],
         u'lat': -25.457437000000002,
         u'lon': -49.2589179,
         u'relativeDirection': u'LEFT',
         u'stayOn': False,
         u'streetName': u'Avenida Marechal Floriano Peixoto'}],
       u'to': {u'arrival': 1498900042000,
        u'departure': 1498900043000,
        u'lat': -25.459149308599,
        u'lon': -49.258267608183,
        u'name': u'Esta\xe7\xe3o Tubo TRE',
        u'stopCode': u'108077',
        u'stopId': u'1:25471',
        u'stopIndex': 3,
        u'stopSequence': 4,
        u'vertexType': u'TRANSIT'},
       u'transitLeg': False},
      {u'agencyId': u'1',
       u'agencyName': u'URBS',
       u'agencyTimeZoneOffset': -10800000,
       u'agencyUrl': u'http://www.urbs.curitiba.pr.gov.br',
       u'arrivalDelay': 0,
       u'departureDelay': 0,
       u'distance': 3072.8273830981298,
       u'duration': 457.0,
       u'endTime': 1498900500000,
       u'from': {u'arrival': 1498900042000,
        u'departure': 1498900043000,
        u'lat': -25.459149308599,
        u'lon': -49.258267608183,
        u'name': u'Esta\xe7\xe3o Tubo TRE',
        u'stopCode': u'108077',
        u'stopId': u'1:25471',
        u'stopIndex': 3,
        u'stopSequence': 4,
        u'vertexType': u'TRANSIT'},
       u'headsign': u'Pra\xe7a Carlos Gomes (S\xe1bado)',
       u'interlineWithPreviousLeg': False,
       u'legGeometry': {u'length': 128,
        u'points': u'pnkzCrvskHODi@P{@d@YLo@VeA^eAb@eA^i@R_@N]N_@NeA`@}@\\]Hc@N}@\\_@PWLYN_@LYLUJYJSFWJYJWJ[L]Lm@Ti@Ru@T_@Lc@PYJk@Tc@Vg@R[Lk@T}@Z[Lw@VYHQHQFYJu@Xq@Vo@Vo@Tq@Vm@Ns@Xm@Tk@Vc@Vg@RcBn@q@VYNUFm@Vo@Vs@Xc@Nc@P_A^y@Te@Ne@Rk@V}@`@oBv@k@RSHWL]Pu@^[NWJ]L]LWJa@P_@Ni@P_@PYJg@RaA^}Aj@e@Pc@Pg@RSHaA^e@NC@e@RaA\\y@sC]kAc@R]Lq@Xk@Ta@P_@La@NUHo@Xo@Vw@\\m@T_A^y@^_Bn@m@Vq@Vi@Ve@NNj@J\\FVXz@'},
       u'mode': u'BUS',
       u'pathway': False,
       u'realTime': False,
       u'rentedBike': False,
       u'route': u'500',
       u'routeColor': u'1E16B5',
       u'routeId': u'1:818',
       u'routeLongName': u'LIGEIRAO BOQUEIRAO',
       u'routeShortName': u'500',
       u'routeTextColor': u'ffffff',
       u'routeType': 3,
       u'serviceDate': u'20170701',
       u'startTime': 1498900043000,
       u'steps': [],
       u'to': {u'arrival': 1498900500000,
        u'departure': 1498900501000,
        u'lat': -25.433741254877,
        u'lon': -49.270291657395,
        u'name': u'Esta\xe7\xe3o Tubo Pra\xe7a Carlos Gomes',
        u'stopCode': u'108065',
        u'stopId': u'1:27560',
        u'stopIndex': 5,
        u'stopSequence': 6,
        u'vertexType': u'TRANSIT'},
       u'transitLeg': True,
       u'tripId': u'1:3878719'},
      {u'agencyTimeZoneOffset': -10800000,
       u'arrivalDelay': 0,
       u'departureDelay': 0,
       u'distance': 274.308,
       u'duration': 218.0,
       u'endTime': 1498900719000,
       u'from': {u'arrival': 1498900500000,
        u'departure': 1498900501000,
        u'lat': -25.433741254877,
        u'lon': -49.270291657395,
        u'name': u'Esta\xe7\xe3o Tubo Pra\xe7a Carlos Gomes',
        u'stopCode': u'108065',
        u'stopId': u'1:27560',
        u'stopIndex': 5,
        u'stopSequence': 6,
        u'vertexType': u'TRANSIT'},
       u'interlineWithPreviousLeg': False,
       u'legGeometry': {u'length': 11,
        u'points': u'dpfzCfbvkHRr@BH~@|Cx@`CHCPGp@WXKVIDA'},
       u'mode': u'WALK',
       u'pathway': False,
       u'realTime': False,
       u'rentedBike': False,
       u'route': u'',
       u'startTime': 1498900501000,
       u'steps': [{u'absoluteDirection': u'SOUTHWEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 193.66699999999997,
         u'elevation': [],
         u'lat': -25.433786911598403,
         u'lon': -49.27027035230426,
         u'relativeDirection': u'DEPART',
         u'stayOn': False,
         u'streetName': u'Rua Pedro Ivo'},
        {u'absoluteDirection': u'SOUTH',
         u'area': False,
         u'bogusName': False,
         u'distance': 80.64099999999999,
         u'elevation': [],
         u'lat': -25.4345131,
         u'lon': -49.2720229,
         u'relativeDirection': u'LEFT',
         u'stayOn': False,
         u'streetName': u'Rua Desembargador Westphalen'}],
       u'to': {u'arrival': 1498900719000,
        u'lat': -25.4351969671,
        u'lon': -49.2717527761,
        u'name': u'Destination',
        u'orig': u'',
        u'vertexType': u'NORMAL'},
       u'transitLeg': False}],
     u'startTime': 1498898819000,
     u'tooSloped': False,
     u'transfers': 0,
     u'transitTime': 457,
     u'waitingTime': 2,
     u'walkDistance': 1825.3946390862695,
     u'walkLimitExceeded': False,
     u'walkTime': 1441}],
   u'to': {u'lat': -25.4351969671,
    u'lon': -49.2717527761,
    u'name': u'Destination',
    u'orig': u'',
    u'vertexType': u'NORMAL'}},
  u'requestParameters': {u'date': u'2017-07-01',
   u'fromPlace': u'-25.4604272304,-49.2495334715',
   u'maxTransfers': u'0',
   u'maxWalkingDistance': u'150',
   u'mode': u'TRANSIT,WALK',
   u'numItineraries': u'1',
   u'preferredRoutes': u'URBS_475',
   u'startTransitStopId': u'1_33479',
   u'time': u'05:39:47',
   u'toPlace': u'-25.4351969671,-49.2717527761'}},
 42949672972L: {u'debugOutput': {u'pathCalculationTime': 25,
   u'pathTimes': [],
   u'precalculationTime': 11,
   u'renderingTime': 0,
   u'timedOut': False,
   u'totalTime': 36},
  u'elevationMetadata': {u'ellipsoidToGeoidDifference': 3.6861111059479486,
   u'geoidElevation': False},
  u'error': {u'id': 404,
   u'message': u'PATH_NOT_FOUND',
   u'msg': u'No trip found. There may be no transit service within the maximum specified distance or at the specified time, or your start or end point might not be safely accessible.',
   u'noPath': True},
  u'requestParameters': {u'date': u'2017-07-01',
   u'fromPlace': u'-25.5365607469,-49.3014740186',
   u'maxTransfers': u'0',
   u'maxWalkingDistance': u'150',
   u'mode': u'TRANSIT,WALK',
   u'numItineraries': u'1',
   u'preferredRoutes': u'URBS_650',
   u'startTransitStopId': u'1_32036',
   u'time': u'20:33:27',
   u'toPlace': u'-25.5619720911,-49.3392846069'}},
 68719476815L: {u'debugOutput': {u'pathCalculationTime': 42,
   u'pathTimes': [42],
   u'precalculationTime': 21,
   u'renderingTime': 0,
   u'timedOut': False,
   u'totalTime': 63},
  u'elevationMetadata': {u'ellipsoidToGeoidDifference': 3.6861111059479486,
   u'geoidElevation': False},
  u'plan': {u'date': 1498903138000,
   u'from': {u'lat': -25.4408650604,
    u'lon': -49.2714569042,
    u'name': u'Origin',
    u'orig': u'',
    u'vertexType': u'NORMAL'},
   u'itineraries': [{u'duration': 1363,
     u'elevationGained': 0.0,
     u'elevationLost': 0.0,
     u'endTime': 1498904501000,
     u'legs': [{u'agencyTimeZoneOffset': -10800000,
       u'arrivalDelay': 0,
       u'departureDelay': 0,
       u'distance': 1783.3010000000002,
       u'duration': 1363.0,
       u'endTime': 1498904501000,
       u'from': {u'departure': 1498903138000,
        u'lat': -25.4408650604,
        u'lon': -49.2714569042,
        u'name': u'Origin',
        u'orig': u'',
        u'vertexType': u'NORMAL'},
       u'interlineWithPreviousLeg': False,
       u'legGeometry': {u'length': 23,
        u'points': u'l|gzCtivkHn@U^MhG{BZKxCmAlCeAnGgCv@YpEcBxEgBp@WlAc@xCeAnE}AjC}@dFkBvBu@|Bw@pBtBfDlDTVZ^'},
       u'mode': u'WALK',
       u'pathway': False,
       u'realTime': False,
       u'rentedBike': False,
       u'route': u'',
       u'startTime': 1498903138000,
       u'steps': [{u'absoluteDirection': u'SOUTH',
         u'area': False,
         u'bogusName': False,
         u'distance': 1529.382,
         u'elevation': [],
         u'lat': -25.440867994787304,
         u'lon': -49.27146482136429,
         u'relativeDirection': u'DEPART',
         u'stayOn': False,
         u'streetName': u'Rua Alferes Poli'},
        {u'absoluteDirection': u'SOUTHWEST',
         u'area': False,
         u'bogusName': False,
         u'distance': 253.919,
         u'elevation': [],
         u'lat': -25.453529300000003,
         u'lon': -49.265519600000005,
         u'relativeDirection': u'RIGHT',
         u'stayOn': False,
         u'streetName': u'Avenida Presidente Kennedy'}],
       u'to': {u'arrival': 1498904501000,
        u'lat': -25.4551674562,
        u'lon': -49.2672796494,
        u'name': u'Destination',
        u'orig': u'',
        u'vertexType': u'NORMAL'},
       u'transitLeg': False}],
     u'startTime': 1498903138000,
     u'tooSloped': False,
     u'transfers': 0,
     u'transitTime': 0,
     u'waitingTime': 0,
     u'walkDistance': 1783.3306992471623,
     u'walkLimitExceeded': False,
     u'walkTime': 1363}],
   u'to': {u'lat': -25.4551674562,
    u'lon': -49.2672796494,
    u'name': u'Destination',
    u'orig': u'',
    u'vertexType': u'NORMAL'}},
  u'requestParameters': {u'date': u'2017-07-01',
   u'fromPlace': u'-25.4408650604,-49.2714569042',
   u'maxTransfers': u'0',
   u'maxWalkingDistance': u'150',
   u'mode': u'TRANSIT,WALK',
   u'numItineraries': u'1',
   u'preferredRoutes': u'URBS_663',
   u'startTransitStopId': u'1_26631',
   u'time': u'06:58:58',
   u'toPlace': u'-25.4551674562,-49.2672796494'}},
 85899345938L: {u'debugOutput': {u'pathCalculationTime': 12,
   u'pathTimes': [],
   u'precalculationTime': 8,
   u'renderingTime': 0,
   u'timedOut': False,
   u'totalTime': 20},
  u'elevationMetadata': {u'ellipsoidToGeoidDifference': 3.6861111059479486,
   u'geoidElevation': False},
  u'error': {u'id': 404,
   u'message': u'PATH_NOT_FOUND',
   u'msg': u'No trip found. There may be no transit service within the maximum specified distance or at the specified time, or your start or end point might not be safely accessible.',
   u'noPath': True},
  u'requestParameters': {u'date': u'2017-07-01',
   u'fromPlace': u'-25.572530446,-49.3377672151',
   u'maxTransfers': u'0',
   u'maxWalkingDistance': u'150',
   u'mode': u'TRANSIT,WALK',
   u'numItineraries': u'1',
   u'preferredRoutes': u'URBS_619',
   u'startTransitStopId': u'1_36280',
   u'time': u'05:49:53',
   u'toPlace': u'-25.5380803213,-49.3138996399'}},
 111669149726L: {u'debugOutput': {u'pathCalculationTime': 18,
   u'pathTimes': [18],
   u'precalculationTime': 16,
   u'renderingTime': 0,
   u'timedOut': False,
   u'totalTime': 34},
  u'elevationMetadata': {u'ellipsoidToGeoidDifference': 3.6861111059479486,
   u'geoidElevation': False},
  u'plan': {u'date': 1498924995000,
   u'from': {u'lat': -25.5263987826,
    u'lon': -49.252941479,
    u'name': u'Origin',
    u'orig': u'',
    u'vertexType': u'NORMAL'},
   u'itineraries': [{u'duration': 1488,
     u'elevationGained': 0.0,
     u'elevationLost': 0.0,
     u'endTime': 1498926483000,
     u'legs': [{u'agencyTimeZoneOffset': -10800000,
       u'arrivalDelay': 0,
       u'departureDelay': 0,
       u'distance': 1896.4569999999997,
       u'duration': 1488.0,
       u'endTime': 1498926483000,
       u'from': {u'departure': 1498924995000,
        u'lat': -25.5263987826,
        u'lon': -49.252941479,
        u'name': u'Origin',
        u'orig': u'',
        u'vertexType': u'NORMAL'},
       u'interlineWithPreviousLeg': False,
       u'legGeometry': {u'length': 69,
        u'points': u'|rxzCzurkHJUn@gB^_@LCDAHIFO?MCQ?y@Z{@Nc@^aAJYL[Vi@f@e@RQ`@i@BC\\i@xAiCHQN[LYTi@Vm@Z_@TWNS~@gARYJQ`@w@DGRm@Lk@d@oBp@kCRw@FWVaAJ]|AGd@G@A~AQlA[~@g@rCw@~@W??b@Mh@Wd@WhB}@XO`@MbA[dA]p@KREx@Mp@GlAKfCQn@CDA'},
       u'mode': u'WALK',
       u'pathway': False,
       u'realTime': False,
       u'rentedBike': False,
       u'route': u'',
       u'startTime': 1498924995000,
       u'steps': [{u'absoluteDirection': u'SOUTHEAST',
         u'area': False,
         u'bogusName': False,
         u'distance': 139.38299999999998,
         u'elevation': [],
         u'exit': u'3',
         u'lat': -25.526389756310422,
         u'lon': -49.252936249982426,
         u'relativeDirection': u'DEPART',
         u'stayOn': True,
         u'streetName': u'Rua Francisco Derosso'},
        {u'absoluteDirection': u'EAST',
         u'area': False,
         u'bogusName': False,
         u'distance': 908.234,
         u'elevation': [],
         u'lat': -25.5270189,
         u'lon': -49.251826900000005,
         u'relativeDirection': u'CONTINUE',
         u'stayOn': False,
         u'streetName': u'Rua Francisco Derosso'},
        {u'absoluteDirection': u'SOUTH',
         u'area': False,
         u'bogusName': False,
         u'distance': 848.84,
         u'elevation': [],
         u'lat': -25.5311002,
         u'lon': -49.2441607,
         u'relativeDirection': u'RIGHT',
         u'stayOn': False,
         u'streetName': u'Rua Eduardo Pinto da Rocha'}],
       u'to': {u'arrival': 1498926483000,
        u'lat': -25.5383532493,
        u'lon': -49.241800943,

In [18]:
extract_otp_trips_legs(executed_trips_schedule)

[(1498898182,
  343597383815L,
  1,
  1,
  1498898182L,
  1498899240L,
  u'WALK',
  None,
  None,
  None,
  17L),
 (1498898387,
  34359738511L,
  1,
  1,
  1498898819L,
  1498900042L,
  u'WALK',
  None,
  None,
  None,
  20L),
 (1498898387,
  34359738511L,
  1,
  2,
  1498900043L,
  1498900500L,
  u'BUS',
  u'500',
  u'25471',
  u'27560',
  7L),
 (1498898387,
  34359738511L,
  1,
  3,
  1498900501L,
  1498900719L,
  u'WALK',
  None,
  None,
  None,
  3L),
 (1498928825,
  128849018906L,
  1,
  1,
  1498929421L,
  1498930232L,
  u'WALK',
  None,
  None,
  None,
  13L),
 (1498928825,
  128849018906L,
  1,
  2,
  1498930233L,
  1498930320L,
  u'BUS',
  u'500',
  u'25515',
  u'27560',
  1L),
 (1498928825,
  128849018906L,
  1,
  3,
  1498930321L,
  1498931137L,
  u'WALK',
  None,
  None,
  None,
  13L),
 (1498938121,
  1142461300763L,
  1,
  1,
  1498938121L,
  1498938579L,
  u'WALK',
  None,
  None,
  None,
  7L),
 (1498907314,
  1279900254237L,
  1,
  1,
  1498907314L,
  1498908004L,
  u'WALK',
  None,
  None,
  None,
  11L),
 (1498924995,
  111669149726L,
  1,
  1,
  1498924995L,
  1498926483L,
  u'WALK',
  None,
  None,
  None,
  24L),
 (1498933561,
  1236950581425L,
  1,
  1,
  1498996520L,
  1498996799L,
  u'WALK',
  None,
  None,
  None,
  4L),
 (1498933561,
  1236950581425L,
  1,
  2,
  1498996800L,
  1498997229L,
  u'BUS',
  u'688',
  u'31047',
  u'29992',
  7L),
 (1498933561,
  1236950581425L,
  1,
  3,
  1498997230L,
  1498998077L,
  u'WALK',
  None,
  None,
  None,
  14L),
 (1498943252,
  858993459358L,
  1,
  1,
  1498943252L,
  1498944243L,
  u'WALK',
  None,
  None,
  None,
  16L),
 (1498919845,
  721554505844L,
  1,
  1,
  1498919845L,
  1498919966L,
  u'WALK',
  None,
  None,
  None,
  2L),
 (1498946513,
  1047972020291L,
  1,
  1,
  1498946513L,
  1498946699L,
  u'WALK',
  None,
  None,
  None,
  3L),
 (1498943995,
  867583393861L,
  1,
  1,
  1498943995L,
  1498944418L,
  u'WALK',
  None,
  None,
  None,
  7L),
 (1498935626,
  1348619731021L,
  1,
  1,
  1498935626L,
  1498936687L,
  u'WALK',
  None,
  None,
  None,
  17L),
 (1498903138,
  68719476815L,
  1,
  1,
  1498903138L,
  1498904501L,
  u'WALK',
  None,
  None,
  None,
  22L),
 (1498956000,
  240518168663L,
  1,
  1,
  1498956000L,
  1498957083L,
  u'WALK',
  None,
  None,
  None,
  18L),
 (1498928268,
  695784702041L,
  1,
  1,
  1498928268L,
  1498928839L,
  u'WALK',
  None,
  None,
  None,
  9L),
 (1498931503,
  1675037245583L,
  1,
  1,
  1498931503L,
  1498932449L,
  u'WALK',
  None,
  None,
  None,
  15L),
 (1498938573,
  146028888172L,
  1,
  1,
  1498938573L,
  1498939085L,
  u'WALK',
  None,
  None,
  None,
  8L),
 (1498943290,
  1546188226669L,
  1,
  1,
  1498943290L,
  1498943569L,
  u'WALK',
  None,
  None,
  None,
  4L),
 (1498917939,
  1297080123496L,
  1,
  1,
  1498917939L,
  1498918417L,
  u'WALK',
  None,
  None,
  None,
  7L),
 (1498906610,
  1116691497084L,
  1,
  1,
  1498906610L,
  1498907571L,
  u'WALK',
  None,
  None,
  None,
  16L)]

In [19]:
print "Extracting OTP Legs info..."
executed_trips_schedule_df = prepare_otp_legs_df(extract_otp_trips_legs(executed_trips_schedule)) \
                                .filter('mode == \'BUS\'') \
                                .withColumn('itinerary_id',F.lit(0))

#executed_trips_schedule = None

Extracting OTP Legs info...

In [20]:
printdf(executed_trips_schedule_df.orderBy(['user_trip_id']))

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins
0,2017-07-01,34359738511,0,2,2017-07-01 06:07:23,2017-07-01 06:15:00,BUS,500,25471,27560,7.616667
1,2017-07-01,128849018906,0,2,2017-07-01 14:30:33,2017-07-01 14:32:00,BUS,500,25515,27560,1.450000
2,2017-07-01,1236950581425,0,2,2017-07-02 09:00:00,2017-07-02 09:07:09,BUS,688,31047,29992,7.150000

In [21]:
printdf(od_matrix.select(['date','user_trip_id','o_base_datetime','route','o_stop_id','stopPointId','next_o_stop_id']).orderBy(['user_trip_id']))

,date,user_trip_id,o_base_datetime,route,o_stop_id,stopPointId,next_o_stop_id
0,2017-07-01,17179869310,2017-07-01 12:59:31,21,29097,31874,31874
1,2017-07-01,17179869337,2017-07-01 15:52:39,176,28556,37134,28758
2,2017-07-01,34359738511,2017-07-01 05:39:47,475,33479,26174,28592
3,2017-07-01,42949672972,2017-07-01 20:33:27,650,32036,36275,36275
4,2017-07-01,68719476815,2017-07-01 06:58:58,663,26631,29142,31986
5,2017-07-01,85899345938,2017-07-01 05:49:53,619,36280,33246,32038
6,2017-07-01,111669149726,2017-07-01 13:03:15,629,29839,29858,5109
7,2017-07-01,120259084404,2017-07-01 19:01:58,658,35869,32720,32165
8,2017-07-01,128849018906,2017-07-01 14:07:05,160,26629,26720,33905
9,2017-07-01,128849018984,2017-07-01 13:59:56,673,26630,32157,29865

In [22]:
matched_executed_trips = od_matrix \
                     .withColumnRenamed('o_stop_id','from_stop_id') \
                     .withColumnRenamed('stopPointId','to_stop_id') \
                .join(executed_trips_schedule_df, \
                    on=['date','user_trip_id','from_stop_id','to_stop_id'], how='inner') \
                .select(['date','user_trip_id','itinerary_id','otp_duration_mins','otp_start_time']) \
                .withColumnRenamed('otp_duration_mins','planned_duration_mins') \
                .withColumnRenamed('otp_start_time','planned_start_time')
printdf(matched_executed_trips)

Empty DataFrame
Columns: [date, user_trip_id, itinerary_id, planned_duration_mins, planned_start_time]
Index: []

In [23]:
matched_executed_trips.count()

0

In [24]:
od_matrix.count()

50

In [25]:
executed_trips_schedule_df.count()

3

#### Printing Itineraries Stats

In [26]:
total_num_itineraries = otp_legs_df.select('user_trip_id','itinerary_id').distinct().count()
total_num_legs = otp_legs_df.count()
num_bus_legs = otp_legs_df.filter('mode == \'BUS\'').count()

print "Total num itineraries:", total_num_itineraries
print "Total num legs:", total_num_legs
print "Total num bus legs:", num_bus_legs, '(', 100*(num_bus_legs/float(total_num_legs)), '%)'

Total num itineraries: 28
Total num legs: 50
Total num bus legs: 11 ( 22.0 %)

#### Matching OTP Bus Legs Origins with BUSTE Data

In [27]:
print "Reading BUSTE data..."
bus_trips_data = read_folders(buste_data_folderpath, sqlContext, sc, initial_date, final_date,'')
clean_bus_trips_data = clean_buste_data(bus_trips_data)

print "Finding OTP Bus Legs Actual Start Times in Bus Trips Data..."
otp_legs_st = find_otp_bus_legs_actual_start_time(otp_legs_df,clean_bus_trips_data)

Reading BUSTE data...
Finding OTP Bus Legs Actual Start Times in Bus Trips Data...

In [28]:
bus_trips_data.printSchema()

root
 |-- route: string (nullable = true)
 |-- tripNum: integer (nullable = true)
 |-- shapeId: integer (nullable = true)
 |-- shapeSequence: integer (nullable = true)
 |-- shapeLat: double (nullable = true)
 |-- shapeLon: double (nullable = true)
 |-- distanceTraveledShape: double (nullable = true)
 |-- busCode: string (nullable = true)
 |-- gpsPointId: string (nullable = true)
 |-- gpsLat: double (nullable = true)
 |-- gpsLon: double (nullable = true)
 |-- distanceToShapePoint: double (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- stopPointId: integer (nullable = true)
 |-- problem: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- cardTimestamp: string (nullable = true)
 |-- lineName: string (nullable = true)
 |-- cardNum: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- date: long (nullable = true)

In [29]:
printdf(clean_bus_trips_data)

         date  route busCode  tripNum  stopPointId            timestamp
0  2017-07-01   21.0   HB606        2        33004  2017-07-01 08:53:05
1  2017-07-01   21.0   HB606        6        33006  2017-07-01 17:52:30
2  2017-07-01   40.0   LB602        4        31029  2017-07-01 14:45:43
3  2017-07-01   40.0   LB602        4        34110  2017-07-01 13:01:33
4  2017-07-01   40.0   LB602        4        35758  2017-07-01 12:26:10
5  2017-07-01    1.0   BN999        3        31454  2017-07-01 07:24:14
6  2017-07-01    1.0   BN999        5        26166  2017-07-01 08:18:24
7  2017-07-01    1.0   BN999       17        30748  2017-07-01 12:42:52
8  2017-07-01   10.0   BB303        4        28647  2017-07-01 09:55:53
9  2017-07-01   11.0   BB305        7        29134  2017-07-01 12:37:48

In [30]:
printdf(otp_legs_df)

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins
0,2017-07-01,34359738511,1,1,2017-07-01 05:46:59,2017-07-01 06:07:22,WALK,NaN,NaN,NaN,20.383333
1,2017-07-01,34359738511,1,2,2017-07-01 06:07:23,2017-07-01 06:15:00,BUS,500.0,25471.0,27560.0,7.616667
2,2017-07-01,34359738511,1,3,2017-07-01 06:15:01,2017-07-01 06:18:39,WALK,NaN,NaN,NaN,3.633333
3,2017-07-01,34359738511,2,1,2017-07-01 06:06:59,2017-07-01 06:27:22,WALK,NaN,NaN,NaN,20.383333
4,2017-07-01,34359738511,2,2,2017-07-01 06:27:23,2017-07-01 06:35:00,BUS,500.0,25471.0,27560.0,7.616667
5,2017-07-01,34359738511,2,3,2017-07-01 06:35:01,2017-07-01 06:38:39,WALK,NaN,NaN,NaN,3.633333
6,2017-07-01,34359738511,3,1,2017-07-01 06:16:59,2017-07-01 06:37:22,WALK,NaN,NaN,NaN,20.383333
7,2017-07-01,34359738511,3,2,2017-07-01 06:37:23,2017-07-01 06:45:00,BUS,500.0,25471.0,27560.0,7.616667
8,2017-07-01,34359738511,3,3,2017-07-01 06:45:01,2017-07-01 06:48:39,WALK,NaN,NaN,NaN,3.633333
9,2017-07-01,68719476815,1,1,2017-07-01 06:58:58,2017-07-01 07:21:41,WALK,NaN,NaN,NaN,22.716667

#### Printing Matched OTP Bus Legs Origins Stats

In [31]:
num_bus_legs_st = otp_legs_st.count()
print "Num Bus Legs whose start was found:", num_bus_legs_st, '(', 100*(num_bus_legs_st/float(num_bus_legs)), '%)'

Num Bus Legs whose start was found: 6 ( 54.5454545455 %)

#### Cleaning Memory

In [32]:
#Clean memory
#otp_legs_df.unpersist(blocking=True)
#bus_trips_data.unpersist(blocking=True)
#clean_bus_trips_data.unpersist(blocking=True)

#### Matching OTP Bus Legs Destinations with BUSTE Data

In [33]:
print "Reading BUSTE data again..."
bus_trips_data2 = read_folders(buste_data_folderpath, sqlContext, sc, initial_date, final_date,'')
clean_bus_trips_data2 = clean_buste_data(bus_trips_data2)

print "Finding OTP Bus Legs Actual End Times in Bus Trips Data..."
otp_legs_start_end = find_otp_bus_legs_actual_end_time(otp_legs_st,clean_bus_trips_data2)
clean_otp_legs_actual_time = clean_otp_legs_actual_time_df(otp_legs_start_end)

Reading BUSTE data again...
Finding OTP Bus Legs Actual End Times in Bus Trips Data...

In [34]:
num_matched_bus_legs_st = clean_otp_legs_actual_time.count()
print "Num Bus Legs whose end was found:", num_matched_bus_legs_st, '(', 100*(num_matched_bus_legs_st/float(num_bus_legs)), '%)'

Num Bus Legs whose end was found: 5 ( 45.4545454545 %)

#### Cleaning Memory

In [35]:
#Clean Memory
#otp_legs_st.unpersist(blocking=True)
#bus_trips_data2.unpersist(blocking=True)
#clean_bus_trips_data2.unpersist(blocking=True)
#otp_legs_start_end.unpersist(blocking=True)

#### Enriching OTP suggestions legs with actual time data

In [36]:
print "Enriching OTP suggestions legs with actual time data..."
all_legs_actual_time = combine_otp_suggestions_with_bus_legs_actual_time(otp_legs_df,clean_otp_legs_actual_time)

Enriching OTP suggestions legs with actual time data...

#### Filtering out itineraries with bus legs not identified in bus data

In [37]:
print "Filtering out itineraries with bus legs not identified in bus data..."
clean_legs_actual_time = select_itineraries_fully_identified(all_legs_actual_time)

Filtering out itineraries with bus legs not identified in bus data...

In [38]:
print "Filtering out itineraries without bus legs..."
clean_legs_actual_time = filter_itineraries_without_bus_legs(clean_legs_actual_time)

Filtering out itineraries without bus legs...

In [39]:
printdf(clean_legs_actual_time)

,date,user_trip_id,itinerary_id,leg_id,route,from_stop_id,to_stop_id,otp_start_time,otp_end_time,mode,otp_duration_mins,busCode,tripNum,from_timestamp,to_timestamp,actual_duration_mins,considered_duration_mins,considered_start_time
0,2017-07-01,34359738511,1,2,500.0,25471.0,27560.0,2017-07-01 06:07:23,2017-07-01 06:15:00,BUS,7.616667,GE716,1.0,2017-07-01 06:05:05,2017-07-01 06:15:34,10.483333,10.483333,2017-07-01 06:05:05
1,2017-07-01,34359738511,1,3,NaN,NaN,NaN,2017-07-01 06:15:01,2017-07-01 06:18:39,WALK,3.633333,None,NaN,None,None,NaN,3.633333,2017-07-01 06:15:01
2,2017-07-01,34359738511,1,1,NaN,NaN,NaN,2017-07-01 05:46:59,2017-07-01 06:07:22,WALK,20.383333,None,NaN,None,None,NaN,20.383333,2017-07-01 05:46:59
3,2017-07-01,128849018906,2,2,500.0,25515.0,27560.0,2017-07-01 14:46:33,2017-07-01 14:48:00,BUS,1.450000,GE700,11.0,2017-07-01 14:42:20,2017-07-01 14:46:52,4.533333,4.533333,2017-07-01 14:42:20
4,2017-07-01,128849018906,2,3,NaN,NaN,NaN,2017-07-01 14:48:01,2017-07-01 15:01:37,WALK,13.600000,None,NaN,None,None,NaN,13.600000,2017-07-01 14:48:01
5,2017-07-01,128849018906,2,1,NaN,NaN,NaN,2017-07-01 14:33:01,2017-07-01 14:46:32,WALK,13.516667,None,NaN,None,None,NaN,13.516667,2017-07-01 14:33:01
6,2017-07-01,34359738511,3,1,NaN,NaN,NaN,2017-07-01 06:16:59,2017-07-01 06:37:22,WALK,20.383333,None,NaN,None,None,NaN,20.383333,2017-07-01 06:16:59
7,2017-07-01,34359738511,3,2,500.0,25471.0,27560.0,2017-07-01 06:37:23,2017-07-01 06:45:00,BUS,7.616667,GE702,1.0,2017-07-01 06:35:20,2017-07-01 06:44:01,8.683333,8.683333,2017-07-01 06:35:20
8,2017-07-01,34359738511,3,3,NaN,NaN,NaN,2017-07-01 06:45:01,2017-07-01 06:48:39,WALK,3.633333,None,NaN,None,None,NaN,3.633333,2017-07-01 06:45:01
9,2017-07-01,34359738511,2,3,NaN,NaN,NaN,2017-07-01 06:35:01,2017-07-01 06:38:39,WALK,3.633333,None,NaN,None,None,NaN,3.633333,2017-07-01 06:35:01

In [40]:
printdf(clean_legs_actual_time.filter(clean_legs_actual_time['mode'] == 'BUS') \
        .select(['otp_start_time','otp_end_time','otp_duration_mins','from_timestamp','to_timestamp','actual_duration_mins']))

,otp_start_time,otp_end_time,otp_duration_mins,from_timestamp,to_timestamp,actual_duration_mins
0,2017-07-01 06:07:23,2017-07-01 06:15:00,7.616667,2017-07-01 06:05:05,2017-07-01 06:15:34,10.483333
1,2017-07-01 14:46:33,2017-07-01 14:48:00,1.450000,2017-07-01 14:42:20,2017-07-01 14:46:52,4.533333
2,2017-07-01 06:37:23,2017-07-01 06:45:00,7.616667,2017-07-01 06:35:20,2017-07-01 06:44:01,8.683333
3,2017-07-01 06:27:23,2017-07-01 06:35:00,7.616667,2017-07-01 06:23:54,2017-07-01 06:32:59,9.083333
4,2017-07-01 14:30:33,2017-07-01 14:32:00,1.450000,2017-07-01 14:28:47,2017-07-01 14:33:30,4.716667

#### Printing Fully Identified OTP Itineraries Stats

In [41]:
num_itineraries_fully_identified = clean_legs_actual_time.select('user_trip_id','itinerary_id').distinct().count()
print "Num Itineraries fully identified in BUSTE data:", num_itineraries_fully_identified, '(', 100*(num_itineraries_fully_identified/float(total_num_itineraries)), '%)'

Num Itineraries fully identified in BUSTE data: 5 ( 17.8571428571 %)

In [42]:
print "Writing OTP suggested itineraries legs with actual time to file..."
#clean_legs_actual_time.write.csv(path=results_folderpath+'/otp_legs_matched',header=True, mode='append')

Writing OTP suggested itineraries legs with actual time to file...

In [43]:
#Clean Memory
#clean_otp_legs_actual_time.unpersist(blocking=True)
#all_legs_actual_time.unpersist(blocking=True)

In [38]:
printdf(od_matrix)

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,o_unixtimestamp,next_o_unixtimestamp,leg_duration,dist,rn,date,o_datetime,d_datetime,executed_duration,o_base_datetime
0,370,4,2789,5510497,-25.436972,-49.277444,3768.768,BC032,None,-25.437973,...,46949,73805,447.600000,0.583099,1,2017-05-09,2017-05-09 10:02:29,2017-05-09 10:45:35,43.100000,2017-05-09 10:00:29
1,380,6,4127,6448424,-25.427902,-49.263242,6213.697,LC302,None,-25.428101,...,65029,75415,173.100000,0.020988,1,2017-05-09,2017-05-09 15:03:49,2017-05-09 15:56:29,52.666667,2017-05-09 15:01:49
2,712,2,2170,6657911,-25.484518,-49.333416,4717.637,JA012,None,-25.484293,...,32680,45992,221.866667,0.214177,1,2017-05-09,2017-05-09 06:04:40,2017-05-09 06:24:55,20.250000,2017-05-09 06:02:40
3,211,7,1776,6633394,-25.402759,-49.213098,0.000,BA037,None,-25.402765,...,76931,39309,-1.000000,0.974592,1,2017-05-09,2017-05-09 18:22:11,2017-05-09 19:08:20,46.150000,2017-05-09 18:20:11
4,628,7,2935,6035542,-25.495496,-49.302459,13282.360,HA025,None,-25.495243,...,57933,72766,247.216667,0.368644,1,2017-05-09,2017-05-09 13:05:33,2017-05-09 13:38:32,32.983333,2017-05-09 13:03:33
5,183,7,1753,6096567,-25.428575,-49.271158,10934.301,BC311,None,-25.428583,...,60800,62505,28.416667,0.798145,1,2017-05-09,2017-05-09 13:53:20,2017-05-09 14:28:34,35.233333,2017-05-09 13:51:20
6,876,1,2937,6065893,-25.422933,-49.304968,4090.977,BC300,None,-25.422850,...,32943,64125,519.700000,0.904173,1,2017-05-09,2017-05-09 06:09:03,2017-05-09 06:50:39,41.600000,2017-05-09 06:07:03
7,463,7,2846,6348437,-25.479636,-49.193971,0.000,DC087,None,-25.479658,...,32479,50924,307.416667,0.000000,1,2017-05-09,2017-05-09 06:01:19,2017-05-09 13:12:29,431.166667,2017-05-09 05:59:19
8,777,2,2195,4300046,-25.461139,-49.325868,7161.699,JC012,None,-25.461108,...,38155,31834,-1.000000,0.121724,1,2017-05-09,2017-05-09 07:35:55,2017-05-09 07:45:22,9.450000,2017-05-09 07:33:55
9,462,5,3102,5855535,-25.434773,-49.272324,12450.673,DC296,None,-25.434785,...,52149,49923,-1.000000,0.114577,1,2017-05-09,2017-05-09 11:29:09,2017-05-09 11:59:30,30.350000,2017-05-09 11:27:09

In [39]:
clean_legs_actual_time.printSchema()

root
 |-- date: string (nullable = true)
 |-- user_trip_id: long (nullable = true)
 |-- itinerary_id: long (nullable = true)
 |-- leg_id: long (nullable = true)
 |-- route: integer (nullable = true)
 |-- from_stop_id: integer (nullable = true)
 |-- to_stop_id: integer (nullable = true)
 |-- otp_start_time: timestamp (nullable = true)
 |-- otp_end_time: timestamp (nullable = true)
 |-- mode: string (nullable = true)
 |-- otp_duration_mins: double (nullable = true)
 |-- busCode: string (nullable = true)
 |-- tripNum: integer (nullable = true)
 |-- from_timestamp: string (nullable = true)
 |-- to_timestamp: string (nullable = true)
 |-- actual_duration_mins: double (nullable = true)
 |-- considered_duration_mins: double (nullable = true)
 |-- considered_start_time: string (nullable = true)

In [40]:
printdf(clean_legs_actual_time \
           .orderBy(['date','user_trip_id','itinerary_id','leg_id']))

,date,user_trip_id,itinerary_id,leg_id,route,from_stop_id,to_stop_id,otp_start_time,otp_end_time,mode,otp_duration_mins,busCode,tripNum,from_timestamp,to_timestamp,actual_duration_mins,considered_duration_mins,considered_start_time
0,2017-05-09,7,1,1,NaN,NaN,NaN,2017-05-09 14:43:08,2017-05-09 14:43:18,WALK,0.166667,None,NaN,None,None,NaN,0.166667,2017-05-09 14:43:08
1,2017-05-09,7,1,2,703.0,35271.0,26631.0,2017-05-09 14:43:19,2017-05-09 15:18:32,BUS,35.216667,JC310,6.0,2017-05-09 14:40:13,2017-05-09 15:10:07,29.900000,29.900000,2017-05-09 14:40:13
2,2017-05-09,7,1,3,NaN,NaN,NaN,2017-05-09 15:18:33,2017-05-09 15:18:35,WALK,0.033333,None,NaN,None,None,NaN,0.033333,2017-05-09 15:18:33
3,2017-05-09,7,2,1,NaN,NaN,NaN,2017-05-09 14:56:08,2017-05-09 14:56:18,WALK,0.166667,None,NaN,None,None,NaN,0.166667,2017-05-09 14:56:08
4,2017-05-09,7,2,2,703.0,35271.0,26631.0,2017-05-09 14:56:19,2017-05-09 15:31:32,BUS,35.216667,JC304,7.0,2017-05-09 15:07:46,2017-05-09 15:32:38,24.866667,24.866667,2017-05-09 15:07:46
5,2017-05-09,7,2,3,NaN,NaN,NaN,2017-05-09 15:31:33,2017-05-09 15:31:35,WALK,0.033333,None,NaN,None,None,NaN,0.033333,2017-05-09 15:31:33
6,2017-05-09,7,3,1,NaN,NaN,NaN,2017-05-09 15:09:08,2017-05-09 15:09:18,WALK,0.166667,None,NaN,None,None,NaN,0.166667,2017-05-09 15:09:08
7,2017-05-09,7,3,2,703.0,35271.0,26631.0,2017-05-09 15:09:19,2017-05-09 15:44:32,BUS,35.216667,JC304,7.0,2017-05-09 15:07:46,2017-05-09 15:32:38,24.866667,24.866667,2017-05-09 15:07:46
8,2017-05-09,7,3,3,NaN,NaN,NaN,2017-05-09 15:44:33,2017-05-09 15:44:35,WALK,0.033333,None,NaN,None,None,NaN,0.033333,2017-05-09 15:44:33
9,2017-05-09,8,1,1,NaN,NaN,NaN,2017-05-09 06:30:42,2017-05-09 06:41:50,WALK,11.133333,None,NaN,None,None,NaN,11.133333,2017-05-09 06:30:42

#### Gather all trips alternative/executed itineraries info

In [44]:
first_boarding_time = clean_legs_actual_time \
                        .filter('mode == \'BUS\'') \
                        .groupby(['date', 'user_trip_id', 'itinerary_id']) \
                        .agg(F.first('otp_start_time').alias('planned_start_time'), \
                             F.first('considered_start_time').alias('actual_start_time')) \
                        .orderBy(['date','user_trip_id','itinerary_id'])        
                
printdf(first_boarding_time)

,date,user_trip_id,itinerary_id,planned_start_time,actual_start_time
0,2017-07-01,34359738511,1,2017-07-01 06:07:23,2017-07-01 06:05:05
1,2017-07-01,34359738511,2,2017-07-01 06:27:23,2017-07-01 06:23:54
2,2017-07-01,34359738511,3,2017-07-01 06:37:23,2017-07-01 06:35:20
3,2017-07-01,128849018906,1,2017-07-01 14:30:33,2017-07-01 14:28:47
4,2017-07-01,128849018906,2,2017-07-01 14:46:33,2017-07-01 14:42:20

In [45]:
user_trips_time_info = od_matrix \
                        .withColumnRenamed('executed_duration','exec_duration_mins') \
                        .withColumnRenamed('o_datetime','exec_start_time') \
                        .select(['date','user_trip_id','exec_duration_mins','exec_start_time'])

printdf(user_trips_time_info)

         date   user_trip_id  exec_duration_mins      exec_start_time
0  2017-07-01   240518168663            5.033333  2017-07-01 21:42:00
1  2017-07-01    34359738511          450.433333  2017-07-01 05:41:47
2  2017-07-01   661424963588           28.266667  2017-07-01 14:52:03
3  2017-07-01  1709396983854           11.600000  2017-07-01 13:46:52
4  2017-07-01  1047972020291           64.533333  2017-07-01 19:03:53
5  2017-07-01   343597383815           58.100000  2017-07-01 05:38:22
6  2017-07-01    85899345938           19.766667  2017-07-01 05:51:53
7  2017-07-01   901943132161           22.166667  2017-07-01 19:03:41
8  2017-07-01  1073741824016           23.950000  2017-07-01 19:47:50
9  2017-07-01   420906795142            7.716667  2017-07-01 09:32:49

In [46]:
printdf(matched_executed_trips)

Empty DataFrame
Columns: [date, user_trip_id, itinerary_id, planned_duration_mins, planned_start_time]
Index: []

In [47]:
executed_legs = user_trips_time_info \
            .join(matched_executed_trips, on=['date','user_trip_id'], how='left') \
            .withColumn('actual_duration_mins',F.col('exec_duration_mins')) \
            .withColumn('actual_start_time',F.col('exec_start_time')) \
            .withColumn('itinerary_id',F.lit(0)) \
            .select(['date','user_trip_id','itinerary_id','planned_duration_mins','actual_duration_mins','exec_duration_mins',
                     'planned_start_time','actual_start_time','exec_start_time'])
            
printdf(executed_legs)

,date,user_trip_id,itinerary_id,planned_duration_mins,actual_duration_mins,exec_duration_mins,planned_start_time,actual_start_time,exec_start_time
0,2017-07-01,274877907051,0,None,25.166667,25.166667,None,2017-07-01 08:02:00,2017-07-01 08:02:00
1,2017-07-01,1425929142383,0,None,107.933333,107.933333,None,2017-07-01 14:06:38,2017-07-01 14:06:38
2,2017-07-01,867583393861,0,None,24.083333,24.083333,None,2017-07-01 18:21:55,2017-07-01 18:21:55
3,2017-07-01,42949672972,0,None,12.000000,12.000000,None,2017-07-01 20:35:27,2017-07-01 20:35:27
4,2017-07-01,1314259992746,0,None,24.600000,24.600000,None,2017-07-01 13:18:37,2017-07-01 13:18:37
5,2017-07-01,128849018906,0,None,13.833333,13.833333,None,2017-07-01 14:09:05,2017-07-01 14:09:05
6,2017-07-01,609885356211,0,None,4.950000,4.950000,None,2017-07-01 20:19:59,2017-07-01 20:19:59
7,2017-07-01,858993459358,0,None,5.983333,5.983333,None,2017-07-01 18:09:32,2017-07-01 18:09:32
8,2017-07-01,1236950581425,0,None,7.533333,7.533333,None,2017-07-01 15:28:01,2017-07-01 15:28:01
9,2017-07-01,1580547964991,0,None,28.650000,28.650000,None,2017-07-01 22:33:38,2017-07-01 22:33:38

In [48]:
matched_otp_legs = clean_legs_actual_time \
                            .groupBy(['date', 'user_trip_id', 'itinerary_id']) \
                            .agg(F.sum('otp_duration_mins').alias('planned_duration_mins'), \
                                 F.sum('considered_duration_mins').alias('actual_duration_mins')) \
                        .join(first_boarding_time, on=['date','user_trip_id','itinerary_id']) \
                        .join(user_trips_time_info, on=['date','user_trip_id'], how='inner') \
                        .orderBy(['date','user_trip_id','itinerary_id']) \
                        .select(['date','user_trip_id','itinerary_id','planned_duration_mins','actual_duration_mins','exec_duration_mins',
                     'planned_start_time','actual_start_time','exec_start_time'])
                 
printdf(matched_otp_legs)

,date,user_trip_id,itinerary_id,planned_duration_mins,actual_duration_mins,exec_duration_mins,planned_start_time,actual_start_time,exec_start_time
0,2017-07-01,34359738511,1,31.633333,34.500000,450.433333,2017-07-01 06:07:23,2017-07-01 06:05:05,2017-07-01 05:41:47
1,2017-07-01,34359738511,2,31.633333,33.100000,450.433333,2017-07-01 06:27:23,2017-07-01 06:23:54,2017-07-01 05:41:47
2,2017-07-01,34359738511,3,31.633333,32.700000,450.433333,2017-07-01 06:37:23,2017-07-01 06:35:20,2017-07-01 05:41:47
3,2017-07-01,128849018906,1,28.566667,31.833333,13.833333,2017-07-01 14:30:33,2017-07-01 14:28:47,2017-07-01 14:09:05
4,2017-07-01,128849018906,2,28.566667,31.650000,13.833333,2017-07-01 14:46:33,2017-07-01 14:42:20,2017-07-01 14:09:05

In [50]:
executed_trips_with_sugestions_matched = matched_otp_legs.select('user_trip_id')\
                                            .drop_duplicates()
printdf(executed_trips_with_sugestions_matched)

Py4JJavaError: An error occurred while calling o3264.collectToPython.
: java.lang.OutOfMemoryError: Java heap space
	at java.util.Arrays.copyOf(Arrays.java:3332)
	at java.lang.AbstractStringBuilder.ensureCapacityInternal(AbstractStringBuilder.java:124)
	at java.lang.AbstractStringBuilder.append(AbstractStringBuilder.java:448)
	at java.lang.StringBuilder.append(StringBuilder.java:136)
	at java.lang.StringBuilder.append(StringBuilder.java:131)
	at scala.StringContext.standardInterpolator(StringContext.scala:125)
	at scala.StringContext.s(StringContext.scala:95)
	at org.apache.spark.sql.execution.QueryExecution.toString(QueryExecution.scala:225)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:54)
	at org.apache.spark.sql.Dataset.withNewExecutionId(Dataset.scala:2765)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:2742)
	at sun.reflect.GeneratedMethodAccessor121.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)

In [ ]:
all_trips_alternatives = matched_otp_legs \
                .union(executed_legs) \
                .join(executed_trips_with_sugestions_matched, on='user_trip_id',how='inner') \
                .orderBy(['date','user_trip_id','itinerary_id'])
printdf(all_trips_alternatives)

In [48]:
all_trips_alternatives.write.csv(path=results_folderpath+'/all_itineraries',header=True)

In [49]:
print all_trips_alternatives.count(), od_matrix.count(), executed_trips_with_sugestions_matched.count()

19772 5752 5563

In [50]:
executed_trips_with_user_plan_matched = matched_executed_trips.select('user_trip_id')\
                                            .drop_duplicates()
printdf(executed_trips_with_sugestions_matched)

   user_trip_id
0   42949673263
1   68719476787
2   94489280644
3  300647710918
4  455266533408
5  455266533670
6  472446402873
7  498216206460
8  558345748598
9  644245094648

In [51]:
all_executed_trips_alternatives = matched_otp_legs \
                .union(executed_legs) \
                .join(executed_trips_with_user_plan_matched, on='user_trip_id',how='inner') \
                .orderBy(['date','user_trip_id','itinerary_id'])
printdf(all_executed_trips_alternatives)

,user_trip_id,date,itinerary_id,planned_duration_mins,actual_duration_mins,exec_duration_mins,planned_start_time,actual_start_time,exec_start_time
0,7,2017-05-09,0,39.500000,29.733333,29.733333,2017-05-09 15:03:44,2017-05-09 14:40:23,2017-05-09 14:40:23
1,7,2017-05-09,1,35.416667,30.100000,29.733333,2017-05-09 14:43:19,2017-05-09 14:40:13,2017-05-09 14:40:23
2,7,2017-05-09,2,35.416667,25.066667,29.733333,2017-05-09 14:56:19,2017-05-09 15:07:46,2017-05-09 14:40:23
3,7,2017-05-09,3,35.416667,25.066667,29.733333,2017-05-09 15:09:19,2017-05-09 15:07:46,2017-05-09 14:40:23
4,8,2017-05-09,0,33.833333,28.300000,28.300000,2017-05-09 06:31:38,2017-05-09 06:32:25,2017-05-09 06:32:25
5,8,2017-05-09,1,38.900000,34.333333,28.300000,2017-05-09 06:41:51,2017-05-09 06:41:03,2017-05-09 06:32:25
6,8,2017-05-09,2,33.983333,35.600000,28.300000,2017-05-09 06:43:38,2017-05-09 06:49:27,2017-05-09 06:32:25
7,8,2017-05-09,3,33.983333,44.600000,28.300000,2017-05-09 07:07:38,2017-05-09 07:07:45,2017-05-09 06:32:25
8,9,2017-05-09,0,23.433333,21.400000,21.400000,2017-05-09 10:53:34,2017-05-09 10:44:40,2017-05-09 10:44:40
9,9,2017-05-09,1,24.333333,24.850000,21.400000,2017-05-09 10:52:51,2017-05-09 10:54:29,2017-05-09 10:44:40

In [52]:
print all_executed_trips_alternatives.count(), od_matrix.count(), executed_trips_with_user_plan_matched.count()

11769 5752 3345

In [ ]:
all_executed_trips_alternatives.write.csv(path=results_folderpath+'/fully_matched_itineraries',header=True)

In [36]:
printdf(all_trips_alternatives.groupby(['date','user_trip_id']) \
                        .count() \
                        .orderBy('count'))

         date   user_trip_id  count
0  2017-05-09   300647710724      2
1  2017-05-09  1563368095803      2
2  2017-05-09  1245540516041      2
3  2017-05-09   412316860483      2
4  2017-05-09  1529008357586      2
5  2017-05-09   223338299433      2
6  2017-05-09  1022202216484      3
7  2017-05-09   721554505729      3
8  2017-05-09   163208757335      3
9  2017-05-09  1700807049484      3

In [ ]:
filtered_trips_alternatives =

### Compute Inefficiency Metrics

#### Given: 
- U - user trip time
- O - otp suggested trip time
- E (executed itineraries) = { Ue, {Oie, 0 < i < n, n = num_otp_alt}}
- P (planned itineraries) = { Up, {Oip, 0 < i < n, n = num_otp_alt}}

#### We can compute:

$$
\begin{equation*}
    \frac{Ue - fastest(E)}{Ue} \text{  User choice actual inefficiency}.
\end{equation*}
$$

$$
\begin{equation*}
    \frac{fastest(E) - executed(fastest(Oe))}{fastest(E)} \text{ System recommendation inefficiency I}.
\end{equation*}
$$

$$
\begin{equation*}
    \frac{fastest(E) - fastest(P))}{fastest(E)} \text{ System recommendation inefficiency II}.
\end{equation*}
$$

$$
\begin{equation*}
    \frac{Up - fastest(P))}{Up} \text{ User choice plan inefficiency}.
\end{equation*}
$$

$$
\begin{equation*}
    {Oe - Op} \text{ System Schedule Deviation}.
\end{equation*}
$$

$$
\begin{equation*}
    {Ue - Up} \text{ User Trip Schedule Deviation}.
\end{equation*}
$$

$$
\begin{equation*}
    {start(Ue) - start(Up)} \text{ User stop waiting time offset}.
\end{equation*}
$$

In [44]:
def filter_trips_alternatives(trips_alternatives):
    min_trip_dur = 10
    max_trip_dur = 50
    max_trip_start_diff = 20
    
    return trips_alternatives[(trips_alternatives['exec_duration_mins'] >= min_trip_dur) & (trips_alternatives['exec_duration_mins'] <= max_trip_dur)] \
                                    .withColumn('start_diff',F.abs(F.unix_timestamp(F.col('exec_start_time')) - F.unix_timestamp(F.col('actual_start_time')))/60) \
                                    .filter('start_diff <= 20')

In [46]:
#Filter trips whose planned start time is too far away from the executed start time
filtered_trips_itineraries = filter_trips_alternatives(all_trips_alternatives)

In [51]:
printdf(filtered_trips_itineraries)

,date,user_trip_id,itinerary_id,planned_duration_mins,actual_duration_mins,planned_start_time,actual_start_time,exec_duration_mins,exec_start_time,start_diff
0,2017-05-09,25769803948,0,NaN,15.900000,NaT,2017-05-09 18:09:17,15.900000,2017-05-09 18:09:17,0.000000
1,2017-05-09,25769803948,1,7.250000,15.450000,2017-05-09 18:16:46,2017-05-09 18:21:07,15.900000,2017-05-09 18:09:17,11.833333
2,2017-05-09,25769803948,2,7.833333,15.450000,2017-05-09 18:35:29,2017-05-09 18:21:07,15.900000,2017-05-09 18:09:17,11.833333
3,2017-05-09,51539607858,0,NaN,32.983333,NaT,2017-05-09 13:05:33,32.983333,2017-05-09 13:05:33,0.000000
4,2017-05-09,68719476891,0,NaN,20.133333,NaT,2017-05-09 18:29:06,20.133333,2017-05-09 18:29:06,0.000000
5,2017-05-09,68719476891,1,24.933333,26.683333,2017-05-09 18:35:38,2017-05-09 18:45:08,20.133333,2017-05-09 18:29:06,16.033333
6,2017-05-09,111669149831,0,NaN,13.766667,NaT,2017-05-09 09:37:41,13.766667,2017-05-09 09:37:41,0.000000
7,2017-05-09,111669149831,1,9.633333,14.800000,2017-05-09 09:42:40,2017-05-09 09:36:49,13.766667,2017-05-09 09:37:41,0.866667
8,2017-05-09,111669149831,2,9.633333,13.216667,2017-05-09 09:59:40,2017-05-09 09:56:08,13.766667,2017-05-09 09:37:41,18.450000
9,2017-05-09,137438953719,0,NaN,20.000000,NaT,2017-05-09 14:19:14,20.000000,2017-05-09 14:19:14,0.000000

#### User choice actual inefficiency

$$
\begin{equation*}
    \frac{Ue - fastest(E)}{Ue}.
\end{equation*}
$$

In [47]:
#Choose best itinerary for each trip by selecting the ones with lower actual duration
best_trips_itineraries = select_best_trip_itineraries(filtered_trips_itineraries)

In [48]:
printdf(best_trips_itineraries)

,date,user_trip_id,itinerary_id,planned_duration_mins,actual_duration_mins,planned_start_time,actual_start_time,exec_duration_mins,exec_start_time,start_diff
0,2017-05-09,515396075621,0,NaN,17.083333,NaT,2017-05-09 07:38:27,17.083333,2017-05-09 07:38:27,0.000000
1,2017-05-09,163208757335,3,3.800000,4.266667,2017-05-09 08:41:52,2017-05-09 08:36:39,27.166667,2017-05-09 08:37:33,0.900000
2,2017-05-09,790273982609,2,24.816667,20.033333,2017-05-09 07:24:43,2017-05-09 07:26:59,33.516667,2017-05-09 07:10:50,16.150000
3,2017-05-09,1700807049484,0,NaN,14.933333,NaT,2017-05-09 17:39:37,14.933333,2017-05-09 17:39:37,0.000000
4,2017-05-09,721554505729,1,6.616667,6.466667,2017-05-09 10:04:00,2017-05-09 10:12:19,43.100000,2017-05-09 10:02:29,9.833333
5,2017-05-09,489626271850,0,NaN,12.316667,NaT,2017-05-09 13:27:40,12.316667,2017-05-09 13:27:40,0.000000
6,2017-05-09,25769803948,2,7.833333,15.450000,2017-05-09 18:35:29,2017-05-09 18:21:07,15.900000,2017-05-09 18:09:17,11.833333
7,2017-05-09,1443109011501,0,NaN,17.166667,NaT,2017-05-09 05:22:54,17.166667,2017-05-09 05:22:54,0.000000
8,2017-05-09,1005022347340,0,NaN,11.116667,NaT,2017-05-09 17:57:17,11.116667,2017-05-09 17:57:17,0.000000
9,2017-05-09,1194000908297,3,6.150000,6.366667,2017-05-09 06:57:27,2017-05-09 07:04:51,36.733333,2017-05-09 06:48:22,16.483333

In [49]:
trips_inefficiency = best_trips_itineraries \
                        .withColumn('dur_diff',(F.col('exec_duration_mins') - F.col('actual_duration_mins'))) \
                        .withColumn('imp_capacity', F.col('dur_diff')/F.col('exec_duration_mins'))

In [50]:
printdf(trips_inefficiency)

,date,user_trip_id,itinerary_id,planned_duration_mins,actual_duration_mins,planned_start_time,actual_start_time,exec_duration_mins,exec_start_time,start_diff,dur_diff,imp_capacity
0,2017-05-09,515396075621,0,NaN,17.083333,NaT,2017-05-09 07:38:27,17.083333,2017-05-09 07:38:27,0.000000,0.000000,0.000000
1,2017-05-09,163208757335,3,3.800000,4.266667,2017-05-09 08:41:52,2017-05-09 08:36:39,27.166667,2017-05-09 08:37:33,0.900000,22.900000,0.842945
2,2017-05-09,790273982609,2,24.816667,20.033333,2017-05-09 07:24:43,2017-05-09 07:26:59,33.516667,2017-05-09 07:10:50,16.150000,13.483333,0.402287
3,2017-05-09,1700807049484,0,NaN,14.933333,NaT,2017-05-09 17:39:37,14.933333,2017-05-09 17:39:37,0.000000,0.000000,0.000000
4,2017-05-09,721554505729,1,6.616667,6.466667,2017-05-09 10:04:00,2017-05-09 10:12:19,43.100000,2017-05-09 10:02:29,9.833333,36.633333,0.849961
5,2017-05-09,489626271850,0,NaN,12.316667,NaT,2017-05-09 13:27:40,12.316667,2017-05-09 13:27:40,0.000000,0.000000,0.000000
6,2017-05-09,25769803948,2,7.833333,15.450000,2017-05-09 18:35:29,2017-05-09 18:21:07,15.900000,2017-05-09 18:09:17,11.833333,0.450000,0.028302
7,2017-05-09,1443109011501,0,NaN,17.166667,NaT,2017-05-09 05:22:54,17.166667,2017-05-09 05:22:54,0.000000,0.000000,0.000000
8,2017-05-09,1005022347340,0,NaN,11.116667,NaT,2017-05-09 17:57:17,11.116667,2017-05-09 17:57:17,0.000000,0.000000,0.000000
9,2017-05-09,1194000908297,3,6.150000,6.366667,2017-05-09 06:57:27,2017-05-09 07:04:51,36.733333,2017-05-09 06:48:22,16.483333,30.366667,0.826679

#### System Recommendation Inefficiency I
$$
\begin{equation*}
    \frac{fastest(E) - executed(fastest(Oe))}{fastest(E)}
\end{equation*}
$$

In [73]:
w_rec_inef_i = Window().partitionBy(['date','user_trip_id']).orderBy(F.col('planned_duration_mins'))

shortest_planned_actual_duration = filtered_trips_itineraries \
                            .filter('itinerary_id > 0') \
                            .withColumn("rn", F.row_number().over(w_rec_inef_i)) \
                            .where(F.col("rn") == 1) \
                            .select('date','user_trip_id','planned_duration_mins','actual_duration_mins') \
                            .withColumnRenamed('planned_duration_mins','shortest_OTP_planned_duration') \
                            .withColumnRenamed('actual_duration_mins','shortest_OTP_actual_duration')

printdf(shortest_planned_actual_duration)

,date,user_trip_id,shortest_OTP_planned_duration,shortest_OTP_actual_duration
0,2017-05-09,515396075621,17.566667,17.250000
1,2017-05-09,163208757335,3.800000,4.266667
2,2017-05-09,790273982609,24.600000,21.666667
3,2017-05-09,1700807049484,17.300000,26.100000
4,2017-05-09,721554505729,6.616667,6.466667
5,2017-05-09,489626271850,12.966667,12.983333
6,2017-05-09,25769803948,7.250000,15.450000
7,2017-05-09,1443109011501,26.483333,17.966667
8,2017-05-09,1005022347340,14.700000,11.650000
9,2017-05-09,1194000908297,6.150000,6.366667

In [74]:
rec_inef_i = filtered_trips_itineraries \
                .groupBy(['date','user_trip_id']) \
                .agg(F.min(F.col('actual_duration_mins')).alias('shortest_actual_duration')) \
                .join(shortest_planned_actual_duration, on=['date','user_trip_id'], how='inner') \
                .withColumn('rec_inef',(F.col('shortest_OTP_actual_duration') - F.col('shortest_actual_duration'))/F.col('shortest_OTP_actual_duration'))

printdf(rec_inef_i_features)

,date,user_trip_id,shortest_actual_duration,shortest_planned_OTP_duration,rec_inef
0,2017-05-09,515396075621,17.083333,17.566667,-0.028293
1,2017-05-09,163208757335,4.266667,3.800000,0.109375
2,2017-05-09,790273982609,20.033333,24.600000,-0.227953
3,2017-05-09,1700807049484,14.933333,17.300000,-0.158482
4,2017-05-09,721554505729,6.466667,6.616667,-0.023196
5,2017-05-09,489626271850,12.316667,12.966667,-0.052774
6,2017-05-09,25769803948,15.450000,7.250000,0.530744
7,2017-05-09,1443109011501,17.166667,26.483333,-0.542718
8,2017-05-09,1005022347340,11.116667,14.700000,-0.322339
9,2017-05-09,1194000908297,6.366667,6.150000,0.034031

#### System Recommendation Inefficiency II
$$
\begin{equation*}
    \frac{fastest(E) - fastest(P))}{fastest(E)}
\end{equation*}
$$

#### User choice plan inefficiency
$$
\begin{equation*}
    \frac{Up - fastest(P))}{Up}
\end{equation*}
$$

#### System Schedule Deviation
$$
\begin{equation*}
    {Oe - Op}
\end{equation*}
$$

#### User Trip Schedule Deviation
$$
\begin{equation*}
    {Ue - Up}
\end{equation*}
$$

#### User stop waiting time offset
$$
\begin{equation*}
    {start(Ue) - start(Up)}
\end{equation*}
$$

In [70]:
print "Identifying itinerary alternatives which are feasible..."
trips_itineraries_possibilities, filtered_trips_possibilities = determining_trips_alternatives_feasibility(clean_legs_actual_time,od_matrix)

Identifying itinerary alternatives which are feasible...

In [72]:
printdf(od_matrix.select('date'))

         date
0  2017-05-09
1  2017-05-09
2  2017-05-09
3  2017-05-09
4  2017-05-09
5  2017-05-09
6  2017-05-09
7  2017-05-09
8  2017-05-09
9  2017-05-09

In [73]:
printdf(trips_itineraries_possibilities)

,date,user_trip_id,itinerary_id,duration,alt_start_time,exec_start_time,start_diff
0,2017-05-09,25769803948,1,15.450000,2017-05-09 18:16:42,2017-05-09 18:09:17,7.416667
1,2017-05-09,25769803948,2,15.450000,2017-05-09 18:42:57,2017-05-09 18:09:17,33.666667
2,2017-05-09,51539607858,1,42.383333,2017-05-09 13:29:50,2017-05-09 13:05:33,24.283333
3,2017-05-09,51539607858,2,31.666667,2017-05-09 13:53:20,2017-05-09 13:05:33,47.783333
4,2017-05-09,51539607858,3,32.333333,2017-05-09 14:59:28,2017-05-09 13:05:33,113.916667
5,2017-05-09,68719476891,1,26.683333,2017-05-09 18:45:08,2017-05-09 18:29:06,16.033333
6,2017-05-09,68719476891,2,26.266667,2017-05-09 18:57:18,2017-05-09 18:29:06,28.200000
7,2017-05-09,68719476891,3,20.750000,2017-05-09 18:50:04,2017-05-09 18:29:06,20.966667
8,2017-05-09,111669149831,1,14.800000,2017-05-09 09:42:32,2017-05-09 09:37:41,4.850000
9,2017-05-09,111669149831,2,13.216667,2017-05-09 10:09:09,2017-05-09 09:37:41,31.466667

In [74]:
printdf(filtered_trips_possibilities)

         date  user_trip_id  itinerary_id   duration       alt_start_time
0  2017-05-09   25769803948             1  15.450000  2017-05-09 18:16:42
1  2017-05-09   68719476891             1  26.683333  2017-05-09 18:45:08
2  2017-05-09  111669149831             1  14.800000  2017-05-09 09:42:32
3  2017-05-09  111669149962             1  47.516667  2017-05-09 17:53:38
4  2017-05-09  111669149962             2  39.266667  2017-05-09 18:10:19
5  2017-05-09  120259084497             1   4.833333  2017-05-09 13:13:57
6  2017-05-09  120259084497             2   3.966667  2017-05-09 13:25:17
7  2017-05-09  120259084497             3   3.750000  2017-05-09 13:30:06
8  2017-05-09  137438953719             1  31.333333  2017-05-09 14:34:35
9  2017-05-09  163208757335             1   4.016667  2017-05-09 08:35:33

In [75]:
print "Writing itineraries possibilities with feasibility to file..."
#trips_itineraries_possibilities.write.csv(path=results_folderpath+'/itineraries_alternatives',header=True, mode='append')

Writing itineraries possibilities with feasibility to file...

In [79]:
print "Adding executed trips to the pool of itinerary possibilities..."
trips_itineraries_pool = get_trips_itineraries_pool(filtered_trips_possibilities,od_matrix)

Adding executed trips to the pool of itinerary possibilities...

In [80]:
printdf(trips_itineraries_pool,l=10)

         date  user_trip_id  itinerary_id   duration       alt_start_time
0  2017-05-09   25769803948             0  15.900000  2017-05-09 18:09:17
1  2017-05-09   25769803948             1  15.450000  2017-05-09 18:16:42
2  2017-05-09   51539607858             0  32.983333  2017-05-09 13:05:33
3  2017-05-09   68719476891             0  20.133333  2017-05-09 18:29:06
4  2017-05-09   68719476891             1  26.683333  2017-05-09 18:45:08
5  2017-05-09  111669149831             0  13.766667  2017-05-09 09:37:41
6  2017-05-09  111669149831             1  14.800000  2017-05-09 09:42:32
7  2017-05-09  111669149962             0  61.233333  2017-05-09 17:54:34
8  2017-05-09  111669149962             1  47.516667  2017-05-09 17:53:38
9  2017-05-09  111669149962             2  39.266667  2017-05-09 18:10:19

In [81]:
print "Selecting best otp itineraries by actual duration..."
best_trips_itineraries = select_best_trip_itineraries(trips_itineraries_pool)

Selecting best otp itineraries by actual duration...

In [82]:
printdf(best_trips_itineraries,l=20)

          date   user_trip_id  itinerary_id   duration       alt_start_time
0   2017-05-09   515396075621             0  17.083333  2017-05-09 07:38:27
1   2017-05-09   206158430497             0   4.750000  2017-05-09 16:41:46
2   2017-05-09  1022202216484             0   1.533333  2017-05-09 06:44:51
3   2017-05-09   163208757335             1   4.016667  2017-05-09 08:35:33
4   2017-05-09   790273982609             2  20.033333  2017-05-09 07:22:11
5   2017-05-09  1700807049484             0  14.933333  2017-05-09 17:39:37
6   2017-05-09   412316860483             1   5.633333  2017-05-09 11:57:46
7   2017-05-09   721554505729             1   6.466667  2017-05-09 10:02:15
8   2017-05-09   489626271850             0  12.316667  2017-05-09 13:27:40
9   2017-05-09    25769803948             1  15.450000  2017-05-09 18:16:42
10  2017-05-09  1013612282175             0   9.450000  2017-05-09 15:18:36
11  2017-05-09  1443109011501             0  17.166667  2017-05-09 05:22:54
12  2017-05-09  1417339207791             3   6.483333  2017-05-09 17:04:31
13  2017-05-09  1391569403990             0   1.383333  2017-05-09 13:04:17
14  2017-05-09   257698037870             0   2.600000  2017-05-09 09:59:50
15  2017-05-09  1005022347340             0  11.116667  2017-05-09 17:57:17
16  2017-05-09  1194000908297             3   6.366667  2017-05-09 06:54:26
17  2017-05-09   137438953719             0  20.000000  2017-05-09 14:19:14
18  2017-05-09   824633721011             3  17.233333  2017-05-09 17:47:29
19  2017-05-09   781684047908             3  27.533333  2017-05-09 08:46:53

In [83]:
#Clean Memory
#clean_legs_actual_time.unpersist(blocking=True)
#trips_itineraries_possibilities.unpersist(blocking=True)
#filtered_trips_possibilities.unpersist(blocking=True)
#trips_itineraries_pool.unpersist(blocking=True)

In [85]:
printdf(duration_improvement_capacity)

,date,user_trip_id,cardNum,birthdate,gender,exec_start_time,executed_duration,itinerary_id,duration,alt_start_time,imp_capacity
0,2017-05-09,515396075621,2642531,28/09/95,F,2017-05-09 07:38:27,17.083333,0,17.083333,2017-05-09 07:38:27,0.000000
1,2017-05-09,206158430497,1757419,None,None,2017-05-09 16:41:46,4.750000,0,4.750000,2017-05-09 16:41:46,0.000000
2,2017-05-09,1022202216484,10090017,None,None,2017-05-09 06:44:51,1.533333,0,1.533333,2017-05-09 06:44:51,0.000000
3,2017-05-09,163208757335,2782068,None,None,2017-05-09 08:37:33,27.166667,1,4.016667,2017-05-09 08:35:33,23.150000
4,2017-05-09,790273982609,3645964,None,None,2017-05-09 07:10:50,33.516667,2,20.033333,2017-05-09 07:22:11,13.483333
5,2017-05-09,1700807049484,2658794,30/03/78,M,2017-05-09 17:39:37,14.933333,0,14.933333,2017-05-09 17:39:37,0.000000
6,2017-05-09,412316860483,3541708,None,None,2017-05-09 11:59:46,65.033333,1,5.633333,2017-05-09 11:57:46,59.400000
7,2017-05-09,721554505729,643873,None,None,2017-05-09 10:02:29,43.100000,1,6.466667,2017-05-09 10:02:15,36.633333
8,2017-05-09,489626271850,3709654,None,None,2017-05-09 13:27:40,12.316667,0,12.316667,2017-05-09 13:27:40,0.000000
9,2017-05-09,25769803948,3377631,21/06/00,F,2017-05-09 18:09:17,15.900000,1,15.450000,2017-05-09 18:16:42,0.450000

In [84]:
print "Computing Improvement Capacity..."
duration_improvement_capacity = compute_improvement_capacity(best_trips_itineraries,od_matrix)

Computing Improvement Capacity...

In [53]:
#best_trips_itineraries.unpersist(blocking=True)
#od_matrix.unpersist(blocking=True)

In [ ]:
print "Writing duration improvement capacity to file..."
#duration_improvement_capacity.write.csv(path=results_folderpath+'/duration_improvement_capacity',header=True, mode='append')

In [ ]:
print "Finishing Script..."

In [ ]:
sc.stop()